.detail {
  &_extra_class {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &_business .name,
  &_business .type,
  &_address {
    font-family: @font-primary;
    font-style: normal;
    line-height: 20px;
  }

  &_business {
    .name {
      font-weight: 500;
      font-size: 12px;
    }
  }
  &_address,
  .type {
    font-weight: 300;
    font-size: 12px;
  }

  &_address {
    display: block;
  }
}
.customLocationModal {
  :global(.ant-collapse-item) {
    :global(.ant-collapse-content-box) {
      padding: 10px 0 0 16px !important;
    }
  }
  :global(.radio-label) {
    margin-bottom: 16px;
  }
}
