.paddingLeftName {
  :global(.ant-modal-body .ant-space-item) {
    padding-left: 0;
  }
}

.modal {
  :global(.ant-input) {
    color: @primary-color-dark;
    font-size: 12px;
  }

  :global(.ant-space-item) {
    padding-left: 0;

    &:first-child {
      :global(.item-option-uncheck),
      :global(.item-option-checked) {
        svg {
          display: none;
        }
      }
    }

    :global(.item-option-uncheck),
    :global(.item-option-checked) {
      flex: 1;
    }
  }

  .paddingLeftNone {
    padding-left: 0;
  }

  .boxShadowBottom {
    box-shadow: @border-bottom-light;

    :global(.ant-input) {
      color: @primary-color-dark;
    }
  }

  .inactiveMenu {
    :global(.ant-dropdown-trigger) {
      cursor: no-drop;
      pointer-events: none;
      > path {
        fill: @mono-color-medium;
      }
    }
  }

  .labelContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > svg {
      margin: 0 24px;

      path {
        fill: @mono-color;
      }
    }

    .actionBtn {
      display: flex;
      flex: 1;
      align-items: center;

      .btnSize:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

.actionMenu {
  :global(.tisc-dropdown-item) {
    div {
      min-height: 36px;
    }
  }
}
