.userGroup {
  :global(.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header) {
    padding: 7px 24px 7px 0 !important;
  }
  :global(.ant-collapse-borderless > .ant-collapse-item) {
    margin-bottom: 16px;
    border-bottom: 0 !important;
  }
  :global(.ant-collapse-icon-position-right
      > .ant-collapse-item
      > .ant-collapse-header
      .ant-collapse-arrow) {
    right: 0 !important;
  }
  :global(.ant-collapse-borderless
      > .ant-collapse-item
      > .ant-collapse-content
      > .ant-collapse-content-box) {
    padding: 8px 0 8px 16px !important;
  }
}

.container {
  margin-top: 8px;

  :global(.ant-input) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  :global(.ant-collapse-borderless) {
    background: #fff !important;
  }
  :global(.ant-collapse-item-disabled > .ant-collapse-header) {
    cursor: default !important;
    :global(.ant-collapse-header-text) {
      color: @mono-color !important;
    }
  }
  :global(.ant-collapse-borderless > .ant-collapse-item) {
    border-bottom: none;
  }
  .form {
    height: calc(100vh - 248px);
    padding: 16px;
    overflow: hidden auto;
    background: #fff;
    .info {
      :last-child {
        margin-bottom: 0;
      }
    }
    .phoneInputCustom {
      border: none;
    }
  }
}

.secondDropdownList {
  background-color: #fff;
  :global(.ant-collapse-item) {
    margin-bottom: 0 !important;
    border-bottom: 0;
    box-shadow: none !important;

    &:global(.ant-collapse-item-active) {
      box-shadow: none;
      :global(.ant-collapse-header) {
        p,
        span,
        .dropdownCount {
          font-weight: 500 !important;
        }
      }
      :global(.ant-collapse-item:last-child > .ant-collapse-content) {
        :global(.ant-collapse-content-box) {
          padding: 8px 0 0 16px !important;
        }
      }
      :global(.ant-collapse-item) {
        box-shadow: @border-bottom-light !important;
        span {
          font-weight: 300 !important;
        }
        &:global(.ant-collapse-item-active) {
          box-shadow: none !important;
          :global(.ant-collapse-header) {
            p,
            span,
            .customText .dropdownCount {
              font-weight: 500 !important;
            }
          }
          &:global(.ant-collapse-item:last-child > .ant-collapse-content) {
            :global(.ant-collapse-content-box) {
              padding: 0 !important;
            }
          }
        }
      }
    }
  }
}

.tooltip {
  p {
    color: #fff !important;
  }
}

.customMenuSummary {
  background-color: #fff;
}

.formGroup {
  label {
    p {
      color: @mono-color-dark !important;
    }
  }
  .phoneInputCustom {
    border: none;
    p {
      color: @mono-color !important;
    }
  }
}
