.cardContainer {
  display: flex;
  flex-flow: row wrap;
  margin-right: -4px;
  margin-left: -4px;
  .cardItemWrapper {
    position: relative;
    display: block;
    width: 224px;
    height: 224px;
    padding-right: 4px;
    padding-left: 4px;
    .cardItem {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      background-color: #fff;
      border: 0.5px solid #bfbfbf;
      box-shadow: 0 0 0 #000;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }
      .top {
        position: relative;
        height: 60%;
        padding: 16px;
        box-shadow: @border-bottom-light;
        .bold {
          overflow: hidden;
          font-weight: 500;
        }
        .brandName {
          height: calc(100% - 20px);
          max-height: 56px;
          margin-bottom: 4px;
          p {
            display: -webkit-box;
            overflow: hidden;
            word-break: break-word;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
        .location {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .img {
          position: absolute;
          top: 8px;
          right: 12px;
          width: 24px;
          height: 24px;
          object-fit: cover;
        }
      }
      .middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 32px;
        padding: 0 16px;

        .middleKey {
          width: 100px;
          text-align: left;

          p {
            white-space: nowrap;
          }
        }
        .middleValue {
          width: 64px;
          margin-left: 24px;
          text-align: left;
          &:global(.late) {
            p {
              color: @tertiary-color;
            }
          }
        }
      }

      .profile_icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        padding: 0 16px;
        box-shadow: @border-top-light;
        .team {
          // display: -webkit-inline-box;
          display: flex;
          align-items: center;
          padding: 2px;
          overflow: auto;
          .avatar:not(:last-child) {
            margin-right: 2px;
          }

          // > div {
          //   margin-top: 1px;
          // }
        }
        .team::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
