.accessModal {
  :global(.ant-modal-body) {
    height: auto;
    min-height: 656px;
    padding: 16px;
  }
}

.table {
  @logo-size: 18px;
  @item-space: 16px;

  th {
    height: 36px;
    padding: 0;
    text-align: center;
  }

  td {
    position: relative;
    height: auto;
    min-height: 32px;
    > .menu_accessable_true,
    .menu_accessable_null,
    .menu_accessable_false {
      position: absolute;
      top: 42%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.tisc td {
    height: 28px;
  }

  // delete these if already have real data
  // last column
  .body > tr > td:nth-child(5) {
    display: none;
  }
  // future data
  .furture_data_header,
  .furture_data_name {
    p {
      color: @mono-color-medium;
      text-transform: capitalize;
    }
  }
  .furture_data_header {
    text-align: center;
  }
  .furture_data_name {
    display: flex;
    padding-left: @item-space;
  }
  //----------------------

  .my_dashboard {
    color: @mono-color-medium;
    user-select: none;
  }

  .sub_menu {
    padding-left: @item-space;
    p {
      text-transform: capitalize;
    }
    span {
      width: 2px;
      height: 2px;
      margin: 0 8px;
      background: @mono-color;
      border-radius: 50%;
    }
  }
  .body tr:nth-child(5) span {
    display: none;
  }
  .menu {
    &_item {
      display: flex;
      align-items: center;
      user-select: none;

      &__name {
        text-transform: uppercase;
      }
      &__logo {
        width: @logo-size;
        height: @logo-size;

        path {
          fill: @mono-color-medium;
        }
      }
    }

    &_accessable {
      text-align: center;

      &_null {
        pointer-events: none;
        path {
          fill: @mono-color-medium;
        }
      }

      &_true {
        path {
          fill: @secondary-color;
        }
      }
    }
    .boldName {
      font-weight: 500;
    }
  }
}

.designerInfo {
  margin-top: 71px;
  padding: 8px 0 16px 0;
  box-shadow: @border-top-light;

  .customText {
    font-weight: 600;
    font-size: 14px;
    font-family: @font-secondary;
    line-height: 21px;
    letter-spacing: 0.02em;
  }
}
