.tableHeader {
  margin-bottom: 8px;
}

.container {
  background: #fff;

  .tabs {
    :global(.ant-tabs-top > .ant-tabs-nav) {
      margin: 0;
    }
  }

  .mainContent {
    height: calc(100vh - 296px);
    padding: 0 16px 16px 16px;
    overflow: hidden auto;

    /// design-firm
    .nameDesignFirm {
      padding-top: 16px;
    }

    /// inquiry-message
    .actionTask {
      display: flex;
      justify-content: right;
      box-shadow: @border-bottom-light;

      &_content {
        display: flex;
        align-items: center;
        height: 40px;
        cursor: pointer;
      }

      &_text {
        padding-right: 12px;
      }
    }

    .taskDropDown {
      display: flex;
      align-items: center;
    }

    .brandProduct {
      margin: 8px 0;
      padding: 0;
    }

    .messageForm {
      margin-bottom: 0;
      :global(.ant-input[disabled]) {
        color: @mono-color;
        background: transparent;
        cursor: default;
      }
    }
  }
}

.header {
  > p {
    font-weight: 600;
    font-family: @font-secondary;
  }
}

.actionTaskList {
  :global(.ant-modal-body) {
    > div:first-child {
      height: 100%;
    }
  }
  :global(.ant-checkbox-group) {
    position: relative;
    height: 100%;
    > div:last-child {
      position: sticky;
      bottom: -16px;
      background: transparent;
    }
    label {
      height: 40px;
    }
    :global(.ant-input) {
      color: @primary-color-dark;
    }
  }
}
