.header {
  display: flex;
  height: 104px;
  margin-bottom: 20px;
  padding: 0 16px;
  box-shadow: @border-bottom;

  &_detail {
    display: flex;
    flex: 1;
    align-items: center;

    .image {
      width: 70px;
      height: 70px;
      margin-right: 12px;
      object-fit: cover;
    }

    .content {
      flex: 1;
      p {
        display: flex;
        align-items: center;
        height: 30px;
      }

      .company {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_logo {
          width: 24px;
          height: 24px;
          object-fit: cover;
          background: #000;
        }
      }
    }
  }
}

.radioGroup {
  :global(.ant-radio-group) {
    padding-left: 16px;
  }
}

.sharingGroup {
  margin-bottom: 16px;

  :global(.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header) {
    height: 32px;
  }
}
