.table {
  @logo-space: 8px;
  @item-space: 16px;

  th {
    height: 36px;
    text-align: center;
  }

  .body > tr:last-child > td {
    margin-bottom: 0;
  }
  .body > tr:first-child > td {
    padding-left: 0;
  }

  // delete if already have real data
  // last column
  .body > tr > td:nth-child(5) {
    display: none;
  }
  // future data
  .furture_data_header,
  .furture_data_name {
    p {
      color: @mono-color-medium;
      text-transform: capitalize;
    }
  }
  .furture_data_header {
    text-align: center;
  }
  .furture_data_name {
    display: flex;
    padding-left: 16px;
  }
  //----------------------

  .sub_menu {
    padding-left: @item-space;
    p {
      text-transform: capitalize;
    }
  }
  .menu {
    &_item {
      display: flex;
      align-items: center;
      margin-bottom: 4px;

      &__name {
        text-transform: uppercase;
      }
      &__logo {
        margin-right: @logo-space;
      }
    }

    &_accessable {
      text-align: center;

      &_null {
        path {
          fill: @mono-color-medium;
        }
      }

      &_true,
      &_false {
        cursor: pointer;
      }
    }
  }
}
