.header {
  margin-bottom: 0;
}

.formGroup {
  margin-bottom: 16px;
}

.inputColor {
  :global(.function-type-placeholder) {
    overflow: hidden;
    color: @primary-color-dark;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.projectNameLabel {
  :global(.ant-input) {
    color: @primary-color-dark;
  }
}
