.customHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.customTabs {
  margin-bottom: 8px;
  background-color: #fff;
  :global(.ant-tabs-tab-btn) {
    padding: 0 0.8vw;
  }
  :global(.ant-tabs-top) {
    height: 40px;
  }
}
