.topbarDropdown {
  width: 240px;
  :global(.tisc-dropdown-item) {
    & > div {
      &:not(:first-child) {
        box-shadow: none;
      }
      &:hover {
        background-color: @primary-color-light;
      }
    }
  }
}
.flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
