.container {
  display: flex;
  align-items: center;
  margin-top: 0;
  cursor: pointer;
  .avatar {
    width: 20px;
    height: 20px;
    margin-right: 16px;

    img {
      object-fit: contain;
    }
    &:not([class*='default']) {
      background-color: #fff;
    }
  }
}

.dropdown {
  width: 160px;
}
