.container {
  display: flex;
  align-items: center;
  margin-top: 0;
  cursor: pointer;
  .avatar {
    width: 20px;
    height: 20px;
    margin-right: 16px;

    img {
      object-fit: var(--image-fit);
    }
    &:not([class*='default']) {
      background-color: #fff;
    }
  }
}

.dropdown {
  width: fit-content;
  min-width: 160px;
  max-width: 300px;

  :global(.workspace) {
    box-shadow: none !important;
  }

  :global(.workspace-item) {
    min-height: 36px !important;
    max-height: 36px !important;
    padding-left: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: none;

    &:hover {
      background-color: @tertiary-color-light !important;
    }
  }

  :global(.logout) {
    box-shadow: inset 0 0.5px 0 rgba(0, 0, 0, 0.3);
  }
}
