.container {
  position: relative;
  height: 48px;
  padding-right: 9px;
  padding-left: 18px;
  background-color: @mono-color;
  .logo-icon {
    cursor: pointer;
  }
  .wrapper-right-content {
    display: flex;
    align-items: center;
    .action {
      display: flex;
      align-items: center;
      margin-left: 40px;
      .icon {
        width: 42px;
        height: 24px;
        margin-top: 0;
        cursor: pointer;
      }
    }
  }

  &.mobile {
    background-color: #fff;
    // box-shadow: @border-bottom;
  }

  .dropdown {
    width: 160px;
  }
}

:global(.sider-menu) {
  :global(.ant-drawer-content) {
    height: auto !important;
    background-color: #000 !important;

    :global(.ant-drawer-body) {
      overflow-x: hidden;
    }
    :global(.ant-menu-inline) {
      border-right: none;
    }
    :global(.ant-menu) {
      max-height: 100vh;
      background-color: #000 !important;
      :global(span.ant-menu-title-content) {
        color: #fff !important;
      }
    }

    svg path {
      fill: #fff;
    }
  }
}
