.contentTab {
  @space: 16px;
  &_label {
    margin-bottom: @space;
    box-shadow: @border-bottom-light;
  }
  .designName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: @space;
    .brandName {
      flex: 1;
      margin: 0 12px 0 0;
      box-shadow: @border-bottom-light;
    }
    .logo {
      width: 56px;
      height: 56px;
      margin-bottom: 14px;
      margin-left: 12px;
    }
  }
}
