.team_form {
  :global(.ant-collapse-borderless) {
    background: #fff !important;
  }

  .teamInfo {
    :last-child {
      margin-bottom: 0;
    }
    .formGroup {
      margin-bottom: 16px;
    }
  }
  .team_name {
    margin-bottom: 16px;
  }

  .userName {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 8px;
    }
  }
}
