.entry_form {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    &_content {
      display: flex;
      align-items: center;
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 40px;

    &_colon {
      margin-left: 4px;
    }

    &_quantity {
      margin-left: 8px;
    }
  }
}
