.collapse_container {
  :global(.ant-collapse > .ant-collapse-item > .ant-collapse-header) {
    padding: 0;
  }
  :global(.ant-collapse-content > .ant-collapse-content-box) {
    padding: 0;
  }
  :global(.ant-collapse-ghost
      > .ant-collapse-item
      > .ant-collapse-content
      > .ant-collapse-content-box) {
    padding: 0;
  }

  margin-bottom: 16px;
}

.panel_header {
  width: 100%;
  &__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_title {
      display: flex;
      gap: 8px;
      align-items: center;
      &_icon {
        transition: all 0.3s;
      }
    }
  }
  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    &_value {
      flex: 1;
      :global(.ant-input) {
        color: @primary-color-dark;
      }
    }
    &_delete_icon {
      cursor: pointer;
      path {
        transition: fill 1s;
        fill: @mono-color-medium;
      }
      &:hover {
        path {
          fill: @primary-color-dark;
        }
      }
    }
  }
}

.form_input {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 16px;
  &__element {
    display: flex;
    flex: 1;
    align-items: center;
    &_input {
      flex: 1;
      :global(.ant-input) {
        color: @primary-color-dark;
      }
    }
    &_delete_icon {
      cursor: pointer;
      path {
        transition: fill 1s;
        fill: @mono-color-medium;
      }
      &:hover {
        path {
          fill: @primary-color-dark;
        }
      }
    }
  }
}

.font_weight_600 {
  font-weight: 600;
}

.font_weight_300 {
  font-weight: 300;
}
