.popover {
  :global(.radio-list-options) {
    padding: 0 !important;

    // :global(.ant-space .ant-space-vertical) {
    //   gap: 12px !important;
    // }

    :global(.ant-space-item) {
      min-height: 22px;
      margin-bottom: 12px;
      padding: 0;
    }
  }
}
