.content {
  :global(.ant-collapse > .ant-collapse-item > .ant-collapse-header) {
    padding: 12px 0;
  }

  :global(
      .ant-collapse-icon-position-end
        > .ant-collapse-item
        > .ant-collapse-header
        .ant-collapse-arrow
    ) {
    right: 0;
  }

  :global(.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header) {
    margin-bottom: 16px;
    padding-left: 0;
  }

  .dropdownCount {
    font-weight: 300 !important;
    .customText {
      margin-left: 12px;
      font-size: 14px;
      font-family: @font-secondary;
      line-height: 22px;
    }
  }

  .tableContent {
    width: 100%;
    margin-left: 16px;
    table-layout: fixed;
  }
}
.libraryText {
  padding-left: 16px;
}
