.projectHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px;
  overflow: auto;
  background-color: #fff;
  &::-webkit-scrollbar {
    display: none;
  }
}

.projectFilter {
  padding: 0 12px;
  box-shadow: @border-left-light;
  .topFilter {
    display: flex;
    align-items: center;
    color: @mono-color-medium;
    &:global(.active-filter) {
      color: #000;
    }
  }
  .projectFilterLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  svg {
    margin-left: 8px;
    cursor: pointer;
  }
}

.projectSummaryWrapper {
  display: flex;
  align-items: center;
  .summaryItem {
    padding: 0 12px;
    p {
      white-space: nowrap;
    }
  }
}

.mobileProjectHeader {
  padding: 7px 0;
}
