.info {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  background: #fff;

  .firstInput {
    width: 40% !important;
    :global(.ant-input) {
      padding-right: 8px;
    }
  }
  .secondInput {
    width: 60% !important;
    :global(.ant-input) {
      padding-left: 8px;
    }
  }
}
