.dynamicFormInput {
  padding-top: 8px;
  > div {
    input {
      background-color: transparent;
      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: @mono-color-dark;
        opacity: 1; /* Firefox */
      }
    }
    :global(.dynamic-title-box) {
      height: 24px;
      font-family: @font-secondary;
    }
  }
  :global(.flex-input-with-icon) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
}
.dynamicFormAddMore {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 36px;
  padding: 0 16px;
  cursor: pointer;
  :global(.add-attribute-text) {
    margin-right: 12px;
  }
}

.customTextArea {
  width: 100%;
  :global(.ant-input) {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    background-color: transparent;
    border-bottom-color: transparent;
    resize: none;
    &:hover {
      border-bottom-color: transparent;
    }
  }
  textarea {
    width: 100%;
  }
}
