.form_container {
  margin-bottom: 16px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
      text-transform: uppercase;
    }
    &__icon {
      cursor: pointer;
    }
  }
  .input {
    :global(.ant-input) {
      color: @primary-color-dark;
    }
  }
}
