.inputGroupContainer {
  width: 100%;
  height: 32px;
  .required {
    margin: 0 4px;
    color: @primary-color-dark;
    font-size: 14px;
    font-family: 'Roboto';
  }
  .requiredColorTertiary {
    color: @tertiary-color;
  }
  .doubleinputGroupContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    :global(.double-input-group-wrapper) {
      display: flex;
      align-items: center;
      width: 100%;
      :global(.double-input-group) {
        display: flex;
        align-items: center;
        &:first-child {
          margin-right: 24px;
        }
        input {
          margin-right: 4px;
          padding: 0;
        }
      }
    }
    svg {
      width: 18px;
      height: 18px;
      cursor: pointer;
    }
    :global(.delete-action-input-group) {
      margin-left: 4px;
      color: @mono-color-medium;
      transition: all 0.2s;
      &:hover {
        color: @primary-color-dark;
      }
    }
  }
  .inputGroupContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    input {
      padding: 0;
      &:global(.has-padding) {
        padding: 4px 16px;
      }
      &[readonly] {
        cursor: not-allowed;
      }
      &:global(.color-primary-dark) {
        color: @primary-color-dark;
      }
    }
    svg {
      width: 18px;
      height: 18px;
      cursor: pointer;
    }
    :global(.delete-action-input-group) {
      margin-left: 4px;
      color: @mono-color-medium;
      transition: all 0.2s;
      &:hover {
        color: @primary-color-dark;
      }
    }
  }
}
.heightInputGroup {
  height: 56px;
  margin-bottom: 16px;
}
