.delete-action-icon {
  svg {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  :global(.delete-action-input-group) {
    margin-left: 16px;
    color: @mono-color-medium;
    transition: all 0.2s;
    &:hover {
      color: @primary-color-dark;
    }
  }
}

.inputGroupContainer {
  width: 100%;
  min-height: 32px;
  .required {
    margin: 0 4px;
    font-size: 14px;
    font-family: @font-primary;
  }
  .requiredColorTertiary {
    color: @tertiary-color;
  }
  .requiredColorPrimaryDark {
    color: @primary-color-dark;
  }
  .colon1 {
    margin: 0 4px;
  }
  .doubleinputGroupContent {
    .delete-action-icon();

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    :global(.double-input-group-wrapper) {
      display: flex;
      align-items: center;
      width: 100%;
      overflow-x: auto;

      :global(.double-input-group) {
        display: flex;
        align-items: center;
        width: 40%;
        &:first-child {
          margin-right: 24px;
        }
        input {
          padding: 0;
        }
        p {
          min-width: auto;
          overflow: unset;
          text-align: right;
          text-overflow: unset;
        }
      }
      :global(.unit-input-label) {
        margin: 2px 0 0 4px;
      }
    }
  }
  .inputGroupContent {
    .delete-action-icon();

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 32px;
    input {
      padding: 0;
      &:global(.has-padding) {
        padding: 0 16px;
      }
      &[readonly] {
        cursor: not-allowed;
      }
      &:global(.color-primary-dark) {
        color: @primary-color-dark;
      }
      &:global(.mono-color) {
        color: @mono-color;
      }
    }
  }
}
.heightInputGroup {
  min-height: 56px;
  margin-bottom: 16px;
}
.boxShadow {
  -webkit-box-shadow: @border-bottom-light;
  -moz-box-shadow: @border-bottom-light;
  box-shadow: @border-bottom-light;
}
.message {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 24px;
  :global(.normal) {
    color: @mono-color;
  }
  :global(.error) {
    color: @tertiary-color;
  }
  :global(.warning) {
    color: @secondary-color;
  }
}
.iconDisabled {
  color: @mono-color-medium;
  cursor: not-allowed;
  pointer-events: none;
}

.customTextArea {
  width: 100%;
  :global(.ant-input) {
    padding: 4px 0;
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    background-color: transparent;
    border-bottom-color: transparent;
    resize: none;
    &:hover {
      border-bottom-color: transparent;
    }
  }
}
