@import (reference) '~antd/es/style/themes/index';

.container > * {
  background-color: @popover-bg;
  box-shadow: @shadow-1-down;
}

.container {
  :global(.ant-dropdown-arrow) {
    top: 11.5px;
  }
}
.dropdownWrapper {
  cursor: pointer;
}

.arrow-center {
  :global(.ant-dropdown-arrow) {
    left: 50%;
    transform: translateX(-50%) rotate(-135deg) translateY(-0.5px);
  }
}

.menu-header {
  box-shadow: 1px 1px 3px 0 #00000080;
  .border {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  }
  .item {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 12px;
    cursor: pointer;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .container {
    width: 100% !important;
  }
  .container > * {
    border-radius: 0 !important;
  }
}
