@import '~antd/es/style/variable.less';

.basicInformationWrapper {
  margin-top: 8px;

  ::-webkit-scrollbar {
    display: none;
  }

  .entryFormWrapper {
    height: calc(var(--vh) * 100 - 232px);
    padding: 16px;
    overflow: hidden auto;
    background-color: #fff;

    .formGroup {
      margin-bottom: 16px;
      &.activeText {
        :global(.function-type-placeholder) {
          overflow: hidden;
          color: @primary-color-dark;
          text-overflow: ellipsis;
        }
      }
    }
    .border_bottom {
      box-shadow: @border-bottom-light;
    }
  }
}
.basicToolbarForm {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: @screen-sm) {
    justify-content: space-between;
    width: 100%;
  }

  .projectStatusLabel {
    display: flex;
    align-items: cener;
    svg {
      margin-left: 4px;
    }
  }
  :global(.ant-space) {
    gap: 0 !important;
    :global(.ant-radio) {
      + * {
        padding-right: 0;
        @media screen and (max-width: @screen-sm) {
          padding-left: 0;
        }
      }
    }
  }
  :global(.ant-radio-wrapper) {
    margin-right: 0;
  }
  button {
    margin-left: 24px;
  }
}
.projectStatusRadio {
  :global(.ant-space-item) {
    margin: 0 16px;
    @media screen and (max-width: @screen-sm) {
      margin: 0;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}
