.mainContainer {
  ::-webkit-scrollbar {
    display: none;
  }
  :global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list) {
    overflow: hidden;

    @media screen and (max-width: 280px) {
      width: max-content;
      overflow: auto hidden;
    }
  }
}
