.dueDayText {
  &:global(.late) {
    color: @tertiary-color;
  }
}
.asignTeamMember {
  display: flex;
  align-items: center;
  justify-content: center;

  > img,
  div {
    margin-right: 2px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}
