.switchBtn {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: default;

  :global(.ant-switch-small .ant-switch-inner) {
    font-weight: 500;
    font-size: 8px;
  }
  :global(.ant-switch) {
    box-shadow: none;
  }
  :global(.ant-click-animating-node) {
    animation: none;
  }
}
