.content {
  padding: 0 16px 16px 16px;
  .customLabel {
    p {
      color: @mono-color-dark;
    }
  }
  .table {
    width: 100%;
    tr {
      width: 100%;
      box-shadow: @border-bottom-light;
      cursor: pointer;
    }
    td {
      height: 40px;
    }
    .date {
      width: 15%;
    }
    .projectName {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .action {
      width: 5%;
      text-align: right;
      svg {
        margin-top: 8px;
      }
    }
  }
  .customHeader {
    height: 36px;
    padding: 0;
    text-transform: capitalize;
    p {
      width: 100%;
      font-size: 14px;
    }
  }
  .customPhoneCode {
    ::placeholder {
      color: @mono-color;
    }
  }
  .brandProduct {
    padding: 0;
  }
  .customTextArea {
    color: @mono-color;
  }
  .requests {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    box-shadow: @border-bottom-light;
    .item {
      display: flex;
      align-items: center;
    }
  }
}
