.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 0 60px;
  background: #fff;

  .text {
    padding: 0 16px;
  }

  .homeButton {
    border-radius: 16px;
  }
}
