.form {
  margin-bottom: 16px;
}

.personal-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #fff;
  .header {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    box-shadow: inset 0 -0.7px 0 @mono-color;
    .title {
      margin-right: 8px;
    }
  }
  .wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    .content {
      padding: 16px;
      .form-upload {
        box-shadow: inset 0 -0.7px 0 @mono-color-dark;
        .wrapper-upload {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          height: 100%;
          .icon {
            cursor: pointer;
          }
        }
      }
      :global(.ant-upload.ant-upload-select) {
        width: 100%;
      }
      .avatarContainer {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 152px;
        margin-bottom: 16px;
        padding-left: 28px;
        cursor: pointer;
        user-select: none;

        & > div {
          box-sizing: border-box;
          border: 0.5px solid @mono-color-dark;
          border-radius: 50%;
          img {
            width: 72px;
            height: 72px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        // .avatarHover {
        //   position: absolute;
        //   top: 50%;
        //   // left: 28.5px;
        //   display: flex;
        //   align-items: center;
        //   width: 72px;
        //   height: 72px;
        //   text-align: center;
        //   background-color: @mono-color-light;
        //   border-radius: 50%;
        //   transform: translateY(-50%);
        //   opacity: 1;
        //   transition: all 0.3s;
        // }
        // &:hover .avatarHover,
        // &.dragging .avatarHover {
        //   opacity: 1;
        // }
      }
    }
    .wrapper-submit {
      display: flex;
      justify-content: flex-end;
      padding: 12px 16px;
      box-shadow: @border-top;
      .submit {
        min-width: 64px;
        border-radius: 12px;
      }
      .submit-success {
        min-width: 64px;
        background-color: @primary-color-dark;
        border-radius: 12px;
        cursor: default;
        animation: fadeIn 2s;
        svg {
          width: 16px;
          height: 16px;
          margin-right: 0;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.interested {
  margin-bottom: 16px;
  box-shadow: inset 0 -0.7px 0 @mono-color-dark;
  label {
    height: 36px;
  }
  p {
    font-weight: 600;
  }
  .listInterested {
    padding-left: 16px;
  }
}
