.workplace-container {
  flex: 1;
  background-color: #fff;
  .header {
    padding: 12px 16px;
    box-shadow: @border-bottom;
  }
  .content {
    padding: 16px;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.form {
  margin-bottom: 16px;

  label > p {
    color: @mono-color-dark;
  }
}
