.workplace-container {
  flex: 1;
  background-color: #fff;
  .header {
    padding: 12px var(--spacing);
    box-shadow: @border-bottom;
  }
  .content {
    padding: var(--spacing);
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.form {
  margin-bottom: var(--spacing);

  label > p {
    color: @mono-color-dark;
  }
}
