.conversion_container {
  margin-top: 16px;
  box-shadow: @border-bottom-light;
  &:last-child {
    box-shadow: none;
  }
  .swapIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__name {
      display: flex;
      align-items: center;
      &_input {
        :global(.ant-input) {
          width: 48px;
          margin: 0 8px;
          padding: 0;
          color: @primary-color-dark;
          text-transform: capitalize;
        }
      }
    }
    &__delete_icon {
      cursor: pointer;
      path {
        transition: fill 1s;
      }
      &:hover {
        path {
          fill: @primary-color-dark;
        }
      }
    }
  }
  .form {
    display: flex;
    height: 32px;
    .element {
      display: flex;
      align-items: center;
      overflow: hidden;
      &__input_formula,
      &__input_unit {
        // flex: 1;
        :global(.ant-input) {
          padding: 0;
          color: @primary-color-dark;
        }
      }
      &__input_formula {
        width: auto !important;
        margin: 0 8px;
      }
    }
  }
}
