.container {
  display: grid;
  grid-template-rows: 48px calc(100vh - 152px);
  gap: 8px;
  &__content {
    flex: 1;
  }
  .customButtonDisable {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: @mono-color-light;
    border: 0.5px solid @mono-color-dark;
    border-radius: 12px;
  }
}
