.input {
  :global(.ql-editor strong) {
    font-weight: bold;
  }

  :global(.ql-editor) {
    padding: 15px 0;
    word-break: break-word;
  }

  :global(.ql-container.ql-snow) {
    border: none;
    border-bottom: 0.5px solid #ccc;
  }

  :global(.ql-editor.ql-blank::before) {
    right: 0;
    left: 0;
  }
}

.text-editor {
  :global(.ql-toolbar.ql-snow) {
    border: 0.5px solid #000;
  }

  :global(.d-flex-items-between) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
