.form_group {
  height: 64px;
  box-shadow: 0 0.7px 0 @mono-color-medium;

  .status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;

    > button {
      padding: 4px 16px;
    }
  }
}
.sendInvite {
  font-size: 12px;
}
.send_invite_tip {
  font-size: 12px;
  .highlight {
    color: @primary-color-light;
    font-size: 14px;
    font-family: @font-secondary;
  }
}
.pendingText {
  color: @mono-color-medium;
}
