.company_modal {
  &_heading_group {
    display: flex;
    gap: 32px;
    align-items: center;

    &_name {
      max-width: 60%;
      font-weight: 300;
      line-height: calc(22 / 14);
      letter-spacing: 0.28px;
      text-transform: capitalize;
    }

    &_country {
      margin-bottom: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  :global(.radio-list-options) {
    padding: 0 !important;
  }

  :global(.ant-space-item) {
    padding-left: 0;
  }
}
