.company_modal {
  &_heading_group {
    display: flex;
    gap: 32px;

    &_name {
      flex-basis: 30%;
      font-weight: 300;
      line-height: calc(22 / 14);
      letter-spacing: 0.28px;
    }
  }

  :global(.radio-list-options) {
    padding: 0 !important;
  }

  :global(.ant-space-item) {
    padding-left: 0;
  }
}
