:global(.ant-modal-close-x) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}
:global(.ant-modal-body) {
  height: 576px;
  padding: 48px 48px 0 48px;
}
