.bg-light {
  background-color: #fff;
}
.mb-8 {
  margin-bottom: 8px;
}
.mt-8 {
  margin-top: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mr-24 {
  margin-right: 24px;
}
.pr-16 {
  padding-right: 16px;
}
.p-16 {
  padding: 16px;
}
