.paddingLeftNone {
  padding-left: 0 !important;
}

.newCardIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  color: #fff;
  background-color: @primary-color-dark;
  border-radius: 100%;
  svg {
    margin-left: 0 !important;
  }
}
