.button {
  margin-left: 48px;
}

.content {
  display: flex;
  height: calc(100vh - 232px);

  &_left {
    width: 572px;
    margin-right: 8px;
    background-color: #fff;
  }
  &_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 572px;
    padding: 16px;
    background-color: #fff;
    // .action {
    //   margin-top: calc(100vh - 382px);
    // }
    .pdf {
      margin-right: 16px;
    }
  }
}
.formInformation {
  padding: 0 16px;
  overflow: auto;
  :global(.ant-input) {
    color: @primary-color-dark;
  }
  .customDate {
    :global(.ant-picker) {
      justify-content: space-between;
      width: 100%;
      border: 0;
      border-radius: 0;
      box-shadow: @border-bottom-light;
    }
    :global(.ant-picker-focused) {
      border-color: none;
      box-shadow: none;
    }
    :global(.ant-picker-input > input:placeholder-shown) {
      color: @primary-color-dark;
      font-weight: 300;
    }
    :global(.children-wrapper) {
      box-shadow: @border-bottom;
    }
    :global(.ant-picker-input > input) {
      color: @primary-color-dark;
      font-weight: 300;
    }
  }
}
.standard {
  height: calc(100vh - 336px);
  padding: 0 16px;
  :global(.function-type-placeholder) {
    padding-left: 0;
    color: @mono-color;
  }
  .marginBottom {
    margin-bottom: 16px;
  }
  .customTitle {
    margin-bottom: 16px;
    box-shadow: @border-bottom;
    .button {
      float: right;
    }
  }
}
.actionButton {
  z-index: 99;
  display: flex;
  justify-content: right;
  height: 48px;
  padding: 12px 16px;
  box-shadow: @border-top;
}
