.customModal {
  :global(.ant-btn-primary) {
    padding: 0 20px;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: center;
    background: @primary-color-dark;
    border: 0.5px solid @primary-color;
  }
  :global(.ant-btn-default) {
    padding: 0 20px;
    color: @mono-color;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: center;
    background: #fff;
    border: 0.5px solid @mono-color-medium;
  }
  :global(.ant-modal-body) {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
}
