.container {
  :global(.ant-input) {
    color: @primary-color-dark;
    font-size: 12px;
  }

  .marginBottomSpace {
    margin-bottom: 8px;
  }

  .listTab {
    :global(.ant-tabs-nav) {
      margin: 0 0 8px 0;
    }
    :global(.ant-tabs-nav-wrap) {
      background-color: #fff;
    }
  }
}
