.bgContainer {
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  background: @mono-color-light;
}

.container {
  :global(.ant-input) {
    color: @primary-color-dark;
    font-size: 12px;
  }

  .backgroundLight {
    background: @mono-color-light;
  }

  .marginRounded {
    margin: 24px;
  }

  .marginBottomSpace {
    margin-bottom: 8px;
  }

  .colorLight {
    p {
      color: @mono-color-medium;
      font-weight: 300;
    }
  }

  .listTab {
    :global(.ant-tabs-nav) {
      margin: 0 0 8px 0;
    }
    :global(.ant-tabs-nav-wrap) {
      background-color: #fff;
    }
  }
}
