.content {
  td {
    padding: 0;

    *:not(input) {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .textLeft {
    width: 25%;
    text-transform: capitalize;
  }

  .textRight {
    width: 75%;
  }
}
