@import '~antd/es/style/variable.less';

.customTable {
  padding-bottom: 40px;
  :global(.ant-table) {
    color: black;
  }

  &.sub-grid {
    :global(td[colspan]) {
      box-shadow: none !important;
    }
  }
  :global(.ant-table > table) {
    width: 100% !important;
  }
  :global(.ant-table-ping-right) {
    :global(.ant-table-container) {
      &::after {
        box-shadow: none !important;
      }
      &::before {
        box-shadow: none !important;
      }
    }
  }
  :global(.ant-table-ping-left) {
    :global(.ant-table-container) {
      &::after {
        box-shadow: none;
      }
      &::before {
        box-shadow: none;
      }
    }
  }
  :global(.ant-pagination) {
    display: none;
  }
  .tableHeader {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 12px 16px;
    background-color: #fff;
    box-shadow: @border-bottom;
  }
  // :global(.ant-table) {
  //   table {
  //     border-collapse: collapse;
  //   }
  // }
  :global(.ant-table-column-sorter) {
    display: none;
  }
  .titleTable {
    display: flex;
    align-items: center;
    svg {
      margin-left: 8px;
    }
  }
  :global(.ant-table-thead) {
    :global(.ant-table-cell) {
      height: 36px;
      padding: 6px 12px;
      color: black;
      white-space: nowrap;
      background-color: #fff;
      border-bottom: 0;
      &::before {
        display: none;
      }
    }
  }
  :global(.ant-table-tbody) {
    :global(.custom-expanded) + tr {
      :global(.ant-table-cell) {
        box-shadow: none;
      }
    }
    :global(.ant-table-expanded-row) {
      > td:global(.ant-table-cell) {
        padding-top: 0;
        padding-bottom: 0;

        &:first-child {
          border-bottom: 1px solid #d8d8d8;
          :global(.ant-table-expanded-row) {
            > td:global(.ant-table-cell) {
              border-bottom: 0;
            }
          }
        }
      }
    }
    tr {
      &:global(.custom-expanded) {
        :global(.ant-table-cell) {
          box-shadow: @border-bottom-light;
        }
      }
      &:global(.ant-table-placeholder) {
        :global(.ant-table-cell) {
          box-shadow: none !important;
        }
      }
      :global(.ant-table-cell) {
        position: relative;
        height: 44px;
        padding: 0 12px;
        color: black;
        // white-space: nowrap;
        background-color: #fff !important;
        border-top: 8px solid @mono-color-light;
        border-bottom: 0;
        :global(.icon-align) {
          margin-top: 4px;
        }
        // box-shadow: @border-bottom-light;
        &:global(.light-content) {
          color: @mono-color-medium;
        }
        &:global(.strike-through) {
          text-decoration: line-through;
        }
      }
      &:global(.custom-expanded-level-2):nth-child(1) {
        :global(.ant-table-cell) {
          box-shadow: none;
        }
      }
      &:global(.ant-table-expanded-row) {
        tr[data-row-key]:not(:first-child) :global(.ant-table-cell:not(.no-box-shadow)) {
          // box-shadow: @border-top-light;
        }

        :global(.ant-table-cell) {
          padding: 0;
          border-top: 0;
          &:global(.no-box-shadow) {
            // &:not(:last-child) {
            box-shadow: none;
            // }
          }
          :global(.ant-table) {
            margin: 0;
            :global(.ant-table-thead) {
              height: 0;
              overflow: hidden;
              visibility: hidden;
              pointer-events: none;
              th {
                height: 0;
                padding: 0 12px !important;
                div {
                  height: 0;
                  p {
                    height: 0;
                  }
                  svg {
                    height: 0;
                    font-size: 0;
                  }
                }
              }
            }
            :global(.ant-table-cell) {
              height: 36px;
              padding: 0 12px;
            }
            :global(.ant-table-expanded-row) {
              :global(.ant-table-cell) {
                padding: 0;
                text-transform: capitalize;
                border-top: 0;
                box-shadow: none;
                &:global(.no-box-shadow) {
                  &:not(:last-child) {
                    box-shadow: none;
                  }
                }
                :global(.ant-table) {
                  margin: 0;
                  :global(td.ant-table-cell:not([colspan])) {
                    padding: 0 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  :global(.ant-table-expanded-row.ant-table-expanded-row-level-1 td[colspan]) {
    height: 36px;
  }

  :global(.ant-empty-normal) {
    margin: 8px 0;
  }
  :global(.ant-table-ping-left:not(.ant-table-has-fix-left) .ant-table-container::before) {
    box-shadow: none;
  }
}

.customPaginator {
  position: absolute;
  bottom: -24px;
  left: -24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% + 48px);
  height: 40px;
  color: black;
  background-color: #e6e6e6;
  box-shadow: @border-top-light;
  user-select: none;
  @media (max-width: @screen-lg) {
    bottom: -12px;
    left: -12px;
    width: calc(100% + 24px);
  }
  svg {
    margin: 0 8px;
    cursor: pointer;
    &:global(.disabled) {
      cursor: not-allowed;
    }
  }
  :global(.divider) {
    width: 12px;
    text-align: center;
  }
}
.tableSummary {
  justify-content: flex-end;
  :global(.item) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    white-space: nowrap;
    :global(.value) {
      margin-left: 8px;
    }
  }
}

.expandedCell {
  display: flex;
  align-items: center;
  cursor: pointer;
  svg {
    margin-left: 8px;
  }
}
.expandedCell:hover {
  font-weight: 400;
}
.expandedColumn {
  font-weight: 500;
}

div[class^='expandedCell'] span:not([class^='expandedColumn']) span {
  display: block;
  // max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

span[class^='expandedColumn'] span,
tr[class^='ant-table-expanded-row'] tbody > tr > td {
  white-space: nowrap;
}

:global(.ant-table-cell.disabled) {
  @color: @mono-color-light;

  cursor: not-allowed;
  pointer-events: none;

  p {
    color: @color;
  }

  svg {
    color: @color;

    path {
      fill: @color;
    }
  }
}

.mobilePagination {
  bottom: -12px;
  left: -12px;
  display: flex;
  align-items: center;
  width: calc(100% + 24px);
  padding: 0 16px;
  &.paginationFixed {
    position: fixed;
    bottom: 0 !important;
  }
}

.mobileSummary {
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  :global(.item) {
    margin-right: 12px;
  }
  :global(.item:last-child) {
    left: 12px !important;
  }
}
