.modalContainer {
  ::-webkit-scrollbar {
    display: block;
  }

  :global(.ant-modal-body) {
    position: relative;
    padding: 0 16px 16px;

    :global(.payment-summary) {
      position: sticky;
      top: 0;
      padding: 16px 0;
      background-color: #fff;
      border-bottom: 1px solid @mono-color-medium;
    }
  }
}
