.set-checked-color( @color ) {
  :global(.ant-radio-checked) {
    :global(.ant-radio-inner) {
      box-shadow: none;
    }
  }
}

.set-checked-color {
  @color: #bfbfbf;

  :global(.ant-radio-inner) {
    border-color: @color;
  }
  :global(.ant-radio-checked) {
    :global(.ant-radio-inner) {
      box-shadow: none;
    }
  }
  :global(.ant-radio-inner::after) {
    background-color: @color;
  }
}

.conversion_container {
  padding: 16px;
  .field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__icon {
      cursor: pointer;
    }
    &__name {
      display: flex;
      align-items: center;
      &_title,
      &_image {
        display: flex;
        align-items: center;

        :first-child {
          margin-right: 8px;
        }
      }
      &_title {
        margin-right: 24px;
      }
      &_image {
        @color: #bfbfbf;
        p {
          color: @color;
        }
        svg path {
          fill: @color;
        }

        .set-checked-color(@color);
      }
      &_input {
        :global(.ant-input) {
          width: 48px;
          margin: 0 8px;
          padding: 0;
          color: @primary-color-dark;
        }
      }
    }
    &__delete_icon {
      cursor: pointer;
      path {
        transition: fill 1s;
        fill: @mono-color-medium;
      }
      &:hover {
        path {
          fill: @primary-color-dark;
        }
      }
    }
  }
  .element_input {
    display: flex;
    align-items: center;
  }
  .form {
    display: flex;
    height: 32px;
    .element {
      display: flex;
      align-items: center;
      margin-right: 8px;
      &__input_formula,
      &__input_unit {
        // flex: 1;
        :global(.ant-input) {
          padding: 0;
          color: @primary-color-dark;
        }
      }
      &__input_formula {
        width: 80px;
        margin: 0 8px;
      }
    }
  }
}
