.collapse_container {
  margin-bottom: 16px;

  .active_collapse_panel,
  .unactive_collapse_panel {
    padding-bottom: 8px;
    border-radius: 0;
  }
  .active_collapse_panel {
    border-bottom: 0.5px solid @mono-color-medium;
  }
  .unactive_collapse_panel {
    border-bottom: 0.5px solid @mono-color;
  }

  :global(.ant-collapse > .ant-collapse-item > .ant-collapse-header) {
    padding: 0;
  }
  :global(.ant-collapse-content > .ant-collapse-content-box) {
    padding: 0;
  }
  :global(.ant-collapse-ghost
      > .ant-collapse-item
      > .ant-collapse-content
      > .ant-collapse-content-box) {
    padding: 0;
  }
}

.panel_header {
  width: 100%;
  &__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    @padding-right: 8px;

    svg {
      cursor: pointer;
    }

    &_right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &_title,
    &_image {
      p {
        padding-right: @padding-right;
      }
    }

    &_title {
      display: flex;
      align-items: center;
      margin-right: 24px;
      cursor: pointer;
      &_icon {
        transition: all 0.3s;
      }
    }

    &_image {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    &_value {
      flex: 1;
      :global(.ant-input) {
        color: @primary-color-dark;
      }
    }
    &_delete_icon {
      cursor: pointer;
      path {
        transition: fill 1s;
        fill: @mono-color-medium;
      }
      &:hover {
        path {
          fill: @primary-color-dark;
        }
      }
    }
  }
}

.sub_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 16px;
  .element_input {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;

    .image img {
      margin-right: 12px;
    }

    .form {
      display: flex;
      height: 32px;
      .element {
        display: flex;
        align-items: center;
        margin-right: 8px;
        &__input_formula,
        &__input_unit {
          // flex: 1;
          :global(.ant-input) {
            padding: 0;
            color: @primary-color-dark;
          }
        }
        &__input_formula {
          width: 80px;
          margin: 0 8px;
        }
      }
    }
  }
}

.font_weight_300 {
  font-weight: 300;
}
.font_weight_600 {
  font-weight: 600;
}

.set-unchecked-color,
.set-checked-color {
  :global(.ant-radio-checked) {
    :global(.ant-radio-inner) {
      box-shadow: none;
    }
  }
}

.set-unchecked-color {
  @unactive-color: @mono-color-medium;

  p {
    color: @unactive-color;
  }

  :global(.ant-radio-inner),
  :global(.ant-radio-wrapper:hover .ant-radio),
  :global(.ant-radio:hover .ant-radio-inner),
  :global(.ant-radio-input:focus + .ant-radio-inner),
  :global(.ant-radio-checked::after),
  :global(.ant-radio-checked.ant-radio-inner) {
    border-color: @unactive-color;
  }
  :global(.ant-radio-inner::after) {
    background-color: @unactive-color;
    opacity: 0;
    transition: none;
  }
}

.set-checked-color {
  @active-color: @primary-color-dark;

  p {
    color: @active-color;
  }

  :global(.ant-radio-inner),
  :global(.ant-radio-wrapper:hover .ant-radio),
  :global(.ant-radio:hover .ant-radio-inner),
  :global(.ant-radio-input:focus + .ant-radio-inner),
  :global(.ant-radio-checked::after),
  :global(.ant-radio-checked.ant-radio-inner) {
    border-color: @active-color;
  }
  :global(.ant-radio-inner::after) {
    background-color: @active-color;
    transform: scale(0.5);
    opacity: 1;
    transition: none;
  }
}
