@import '~antd/es/style/variable.less';

.modalContainer {
  ::-webkit-scrollbar {
    display: none;
  }
}

.content {
  height: auto;
  max-height: 100%;
  padding: 48px 0;
  overflow-y: auto;

  @media (max-width: @screen-sm) {
    padding: 20px 36px;
  }

  .intro {
    .body-dark {
      color: #fff;
    }
    .vision {
      padding-bottom: 24px;
      :first-child {
        padding-bottom: 4px;
      }
    }
    .mission {
      padding-bottom: 36px;
      :first-child {
        padding-bottom: 4px;
      }
    }
  }
  .text {
    .body-dark {
      color: #fff;
    }
    :first-child {
      padding-bottom: 24px;
    }
    :last-child {
      padding-bottom: 8px;
    }
  }
}
