.closeIcon {
  path {
    fill: #fff;
  }
}
.content {
  padding: 48px 0;
  .intro {
    .body-dark {
      color: #fff;
    }
    .vision {
      padding-bottom: 24px;
      :first-child {
        padding-bottom: 4px;
      }
    }
    .mission {
      padding-bottom: 36px;
      :first-child {
        padding-bottom: 4px;
      }
    }
  }
  .text {
    .body-dark {
      color: #fff;
    }
    :first-child {
      padding-bottom: 24px;
    }
    :last-child {
      padding-bottom: 8px;
    }
  }
}
