.closeIcon {
  path {
    fill: #fff;
  }
}
.content {
  padding: 48px 0;
  text-align: center;
  .intro {
    padding-bottom: 48px;
    .body-dark {
      color: #fff;
    }
  }
  .text {
    padding-bottom: 38px;
    .body-dark {
      color: #fff;
    }
    .content {
      display: flex;
      gap: 32px;
      justify-content: center;
      padding: 32px 0;
      .leftItem {
        text-align: right;
      }
      .rigthItem {
        text-align: left;
      }
    }
  }
}
