.content {
  .intro {
    padding: 32px 0 48px 0;
    p {
      text-align: center;
    }
    .body {
      padding-bottom: 16px;
    }
    .title {
      line-height: 30px;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: calc(576px - 268px);
    .form {
      .email {
        margin-bottom: 8px;
        cursor: default;
      }
      .password {
        margin-bottom: 8px;
      }
    }
    .action {
      position: absolute;
      right: 48px;
      bottom: 32px;
      width: calc(576px - 96px);
      &_between {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &_right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      .warning {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        padding: 0 16px;
        background-color: @secondary-color;
        p {
          margin-left: 12px;
          color: #fff;
        }
      }
      .submit {
        border-radius: 16px;
      }
    }
  }
}
