.content {
  .intro {
    padding: 32px 0 48px 0;
    p {
      text-align: center;
    }
    .body {
      padding-bottom: 16px;
    }
    .title {
      line-height: 30px;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: calc(576px - 268px);
    .form {
      .email {
        margin-bottom: 8px;
        cursor: default;
      }
      .password {
        margin-bottom: 8px;
      }
    }
  }
}
