.closeIcon {
  margin: 16px 9px 0 0;
  path {
    fill: #fff;
  }
}
.customFont {
  font-family: @font-primary;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.tabContent {
  :global(.ant-tabs-nav-list) {
    width: 100% !important;
  }
}

.modal {
  ::-webkit-scrollbar {
    display: none;
  }
}
.content {
  height: auto;
  max-height: 100%;
  overflow-y: auto;

  .header {
    position: sticky;
    top: 0;
    margin-bottom: 8px;
    padding-top: 32px;
    background-color: #000;

    .customTab {
      :global(.tab-items) {
        max-width: fit-content;
      }
      :global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list) {
        // display: grid;
        // grid-template-columns: repeat(3, 100%/3);
        width: 100%;
        // border-bottom: 1px solid @mono-color-medium;
        overflow: auto hidden;

        @media screen and (max-width: 432px) {
          width: max-content;
        }
      }
      :global(.ant-tabs-tab-active) {
        border-bottom: 1px solid #fff;
      }
      :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        background: @mono-color;
        border-bottom: 1px solid #fff;
        .customFont();
      }
      :global(.ant-tabs-tab-btn) {
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        .customFont();
      }
    }
  }
  .body {
    color: #fff !important;
    div {
      // height: 400px;
      overflow: auto;
      ::-webkit-scrollbar {
        display: none;
      }
      span {
        color: #fff;
        // font-size: 14px;
        // font-family: @font-primary;
        // line-height: 22px;
      }
      a {
        color: @primary-color-medium;
      }
      h1 {
        line-height: 22px;
        span {
          font-weight: 500;
          font-size: 14px;
          font-family: @font-primary;
        }
      }
      h3 {
        line-height: 22px;
        span {
          font-weight: 300;
          font-size: 14px;
          font-family: @font-primary;
        }
      }
    }
  }
}
