.content {
  padding-bottom: 32px;
  .intro {
    padding: 32px 0 48px 0;
    p {
      text-align: center;
    }
    .body {
      padding-bottom: 16px;
    }
    .title {
      line-height: 30px;
    }
  }
  .form {
    height: 290px;
    .email {
      margin-bottom: 8px;
      cursor: default;
    }
    .password {
      margin-bottom: 8px;
    }
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .warning {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      padding: 0 16px;
      background-color: @secondary-color;
      p {
        margin-left: 12px;
        color: #fff;
      }
    }
    .submit {
      border-radius: 16px;
    }
  }
}
