.customFont {
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 16px;
  font-family: @font-primary;
  font-style: normal;
  line-height: 24px;
}

.content {
  padding: 32px 0 0 0;
  .intro {
    padding-bottom: 48px;
    text-align: center;
  }
  .form {
    .user {
      .customFont;
    }
    .email {
      .customFont;
    }
    .brand {
      .customFont;
    }
    .website {
      .customFont;
    }
  }
  .errorStatus {
    border: 0.5px solid @secondary-color;
  }
  :global(.ant-checkbox-wrapper) {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 18px;
  }
  :global(.ant-checkbox-inner) {
    border-color: @mono-color;
  }
  :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: @primary-color-dark;
    border-color: @primary-color-dark;
  }
  :global(.ant-checkbox + span) {
    padding-left: 12px;
    color: @mono-color;
    font-weight: 300;
    font-size: 14px;
    font-family: @font-primary;
    font-style: normal;
    line-height: 22px;
  }
  :global(.ant-checkbox) {
    top: auto;
    // margin-bottom: 4px;
  }
  .customLink {
    margin-top: 8px;
    padding-left: 46px;
    color: @primary-color-dark;
    font-weight: 300;
    font-size: 14px;
    font-family: @font-primary;
    font-style: normal;
    line-height: 22px;
    cursor: pointer;
  }
  .button {
    position: absolute;
    right: 48px;
    bottom: 32px;
    .warning {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      padding: 0 16px;
      background-color: @secondary-color;
      p {
        margin-left: 12px;
        color: #fff;
      }
    }
    .submit {
      padding: 0 20px;
      border-radius: 16px;
    }
  }
}
