.modal {
  :global(.ant-modal-close-x) {
    svg {
      margin-top: 16px;
      margin-right: 9px;
    }
  }
}

.content {
  padding-top: 32px;

  .text {
    margin-top: 8px;
    text-align: center;
  }
  .login {
    display: flex;
    justify-content: flex-end;
    padding-top: 32px;
    .submit {
      padding: 0 20px;
      border-radius: 16px;
    }
  }
}
