.modal {
  :global(.ant-modal-close-x) {
    svg {
      margin-top: 16px;
      margin-right: 9px;
    }
  }
}

.content {
  height: 100%;
  padding-top: 32px;

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .title {
      margin-bottom: 24px;
      padding-bottom: 8px;
      box-shadow: @border-bottom;
    }
  }

  .text {
    margin-top: 8px;
    text-align: center;
  }

  :global(.radio-list-container) {
    height: 100%;
    overflow: auto;
  }

  .login {
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;

    .submit {
      padding: 0 20px;
      border-radius: 16px;
    }
  }

  :global(.radio-list-options) {
    padding-right: 16px !important;
    padding-left: 0 !important;
  }
}
