.content {
  padding: 0 16px 16px 16px;
  .customLabel {
    p {
      color: @mono-color-dark;
    }
  }
  .table {
    width: 100%;
    tr {
      width: 100%;
      box-shadow: @border-bottom-light;
      cursor: pointer;
    }
    .date {
      width: 20%;
    }
    .projectName {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .action {
      width: 10%;
      text-align: right;
    }
  }
  .customHeader {
    height: 36px;
    padding: 0;
  }
}
