.button {
  margin-left: 48px;
}
.content {
  &_left {
    height: calc(100vh - 232px);
    margin-right: 8px;
    background-color: #fff;
  }
  &_right {
    justify-content: space-between;
    height: calc(100vh - 232px);
    padding-top: 16px;
    background-color: #fff;
    .action {
      display: flex;
      justify-content: center;
      height: 48px;
      padding: 12px 16px;
      box-shadow: @border-top;
    }
    .pdf {
      height: calc(100vh - 296px);
    }
  }
}
.formInformation {
  padding: 0 16px;
  overflow: auto;
  :global(.ant-input) {
    color: @primary-color-dark;
  }
  .business {
    margin-bottom: 8px;
  }
  .activeText {
    :global(.function-type-placeholder) {
      overflow: hidden;
      color: @primary-color-dark;
      text-overflow: ellipsis;
    }
  }
}
.cover {
  padding: 0 16px;
  :global(.ant-collapse-item .ant-collapse-header) {
    text-transform: capitalize;
  }
  .customHeader {
    margin-top: 16px;
    :global(.function-type-placeholder) {
      padding-left: 0;
    }
  }

  .customTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 8px;
    box-shadow: @border-bottom;
    :global(.ant-switch-checked) {
      background: @primary-color-dark !important;
    }
    :global(.ant-switch) {
      background: @mono-color;
    }
    :global(.children-wrapper___3anK7) {
      flex: 0 0;
    }
    :global(.ant-switch-checked:focus) {
      box-shadow: none;
    }
  }
  .customForm {
    height: 36px;
    margin-bottom: 0;
    border-bottom: 0.5px solid @mono-color;
    .document {
      :global(.ant-input) {
        color: @primary-color-dark;
      }
    }
  }
}
.customActionButton {
  width: auto;
  padding: 8px 16px;
}
.specification {
  height: calc(100vh - 352px);
  padding: 0 16px;
  overflow: auto;
  :global(.ant-collapse-item .ant-collapse-header) {
    text-transform: capitalize;
  }
  :global(.function-type-placeholder) {
    padding-left: 0;
    color: @mono-color;
  }
  .customTitle {
    margin-bottom: 16px;
    :global(.ant-collapse-header) {
      height: 36px;
    }
  }
}
.actionButton {
  display: flex;
  justify-content: right;
  height: 48px;
  padding: 12px 16px;
  box-shadow: @border-top;
}
