@import '~antd/es/style/variable.less';

.button {
  margin-left: 48px;

  @media screen and (max-width: @screen-md) {
    margin-left: 24px;
  }
}
.content {
  &_left {
    background-color: #fff;

    .topSticky {
      position: sticky;
      top: 0;
      z-index: 1;
      background: #fff;
    }

    .specifyTabs {
      padding: var(--spacing) var(--spacing) 0 var(--spacing);
    }

    :global(.mainContent) {
      ::-webkit-scrollbar {
        display: none;
      }
    }

    @media screen and (min-width: @screen-lg) {
      :global(.ant-tabs-nav-wrap) {
        overflow: auto hidden !important;

        ::-webkit-scrollbar {
          display: block;
        }
      }
    }
  }
  &_right {
    justify-content: space-between;
    height: calc(var(--vh) * 100 - 232px);
    user-select: none;
    .action {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      padding: 12px 16px;
      box-shadow: @border-top;
      svg {
        margin: 0 8px;
        cursor: pointer;
        &:global(.disabled) {
          cursor: not-allowed;
        }
      }
    }
    .pdf {
      padding-top: 16px;
      background-color: #fff;
      :global(.react-pdf__Page__canvas) {
        width: auto !important;
        height: calc(var(--vh) * 100 - 312px) !important;
        margin: auto;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.contentHeight {
  height: calc(var(--vh) * 100 - 232px - 72px);
  padding: 0 var(--spacing);
  overflow: hidden auto;
}

.formInformation {
  .contentHeight();

  .business {
    margin-bottom: 8px;
  }
  .activeText {
    :global(.function-type-placeholder) {
      overflow: hidden;
      color: @primary-color-dark;
      text-overflow: ellipsis;
    }
  }
  .revision {
    :global(.ant-input) {
      color: @primary-color-dark;
    }
  }
}
.cover {
  .contentHeight();

  :global(.ant-collapse-item .ant-collapse-header) {
    text-transform: capitalize !important;
  }
  @media screen and (max-width: @screen-md) {
    padding: 0 12px;
  }
  .customHeader {
    margin-top: 16px;
    :global(.function-type-placeholder) {
      padding-left: 0;
    }
  }

  .customTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    margin-bottom: 8px;
    // box-shadow: @border-bottom;
    :global(.ant-switch-checked) {
      background: @primary-color-dark !important;
    }
    :global(.ant-switch) {
      background: @mono-color;
    }
    :global(.children-wrapper___3anK7) {
      flex: 0 0;
    }
    :global(.ant-switch-checked:focus) {
      box-shadow: none;
    }
  }
  .customForm {
    height: 36px;
    margin-bottom: 16px;
    border-bottom: 0.5px solid @mono-color;
    .document {
      :global(.ant-input) {
        color: @primary-color-dark;
      }
    }
  }
  .customHeaderText {
    :global(.ant-collapse-item.ant-collapse-item-disabled .ant-collapse-header) {
      color: @mono-color-medium;
    }
  }
  :global(.ant-collapse-item) {
    margin-bottom: 12px;
  }
}

.specification {
  height: calc(var(--vh) * 100 - 352px);
  padding: 0 var(--spacing);
  overflow: auto;
  @media screen and (max-width: @screen-md) {
    padding: 0 8px;
  }
  :global(.ant-collapse-item .ant-collapse-header) {
    text-transform: capitalize !important;
  }
  :global(.function-type-placeholder) {
    padding-left: 0;
    color: @mono-color;
  }
  .customTitle {
    margin-bottom: 16px;
    :global(.ant-collapse-header) {
      height: 36px;
    }
  }
}
// preview
.actionButton {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  height: 48px;
  padding: 12px 16px;
  background: #fff;
  box-shadow: @border-top;
  .resetButton {
    margin-right: 16px;
  }
}
// brand - material - space
.customActionButton {
  width: auto;
  padding: 8px 16px;
}

.modal {
  :global(.ant-modal-body) {
    padding: 48px;
  }
}

.summaryFooter {
  :global(.item:last-child) {
    position: absolute;
    left: 24px;
  }
}
