.formWrapper {
  background: #fff;
  box-shadow: @border-bottom-light;
}

.plusBtn {
  margin: 8px 16px;
}

.deleteIcon {
  color: @mono-color-medium;
  cursor: pointer;

  &:hover path {
    transition: all 0.3s;
    fill: @primary-color-dark;
  }
}

.customTextArea {
  :global(.ant-input) {
    margin-top: 2px;
    padding-left: 16px;
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    resize: none;
  }
}
