.customText(@font-size,@line-height ,@font-weight, @font-family: 'Roboto') {
  margin-bottom: 0;
  color: @mono-color;
  font-weight: @font-weight;
  font-size: @font-size;
  font-family: @font-family;
  line-height: @line-height;
  letter-spacing: 2%;
}

// Title
.title1 {
  .customText(40px, 48px, 500);
}
.title2 {
  .customText(36px, 44px, 500);
}
.title3 {
  .customText(32px, 40px, 500);
}
.title4 {
  .customText(28px, 36px, 500);
}
.title5 {
  .customText(24px, 32px, 500);
}
.title6 {
  .customText(20px, 28px, 500);
}
.title7 {
  .customText(16px, 24px, 500);
}
.title8 {
  .customText(14px, 22px, 500);
}
.title9 {
  .customText(12px, 20px, 500);
}

// BodyText
.bodyText1 {
  .customText(28px, 36px, 300);
}
.bodyText2 {
  .customText(24px, 32px, 300);
}
.bodyText3 {
  .customText(20px, 28px, 300);
}
.bodyText4 {
  .customText(16px, 24px, 300);
}
.bodyText5 {
  .customText(14px, 22px, 300);
}
.bodyText6 {
  .customText(12px, 20px, 300);
}
.bodyText7 {
  .customText(10px, 18px, 300);
}

.bodyTextCormorant1 {
  .customText(24px, 32px, 300,'Cormorant-Garamond');
}
.bodyTextCormorant2 {
  .customText(20px, 28px, 300, 'Cormorant-Garamond');
}
.bodyTextCormorant3 {
  .customText(16px, 24px, 300, 'Cormorant-Garamond');
}
.bodyTextCormorant4 {
  .customText(14px, 21px, 300, 'Cormorant-Garamond');
}

// MainTitle
.mainTitle1 {
  .customText(32px, 40px, 600, 'Cormorant-Garamond');
}
.mainTitle2 {
  .customText(24px, 32px, 600, 'Cormorant-Garamond');
}
.mainTitle3 {
  .customText(16px, 24px, 600, 'Cormorant-Garamond');
}
.mainTitle4 {
  .customText(14px, 21px, 600, 'Cormorant-Garamond');
}

// BodyTitle
// .mainTitle1 {
//   .customText(32px, 40px, 300, 'Cormorant-Garamond');
// }
// .mainTitle2 {
//   .customText(24px, 32px, 300, 'Cormorant-Garamond');
// }
// .mainTitle3 {
//   .customText(16px, 24px, 300, 'Cormorant-Garamond');
// }
// .mainTitle4 {
//   .customText(14px, 21px, 300, 'Cormorant-Garamond');
// }
