.productCardContainer {
  display: flex;
  flex-flow: row wrap;
  margin-right: -4px;
  margin-left: -4px;
  .productCardItemWrapper {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 8px;
    padding-right: 4px;
    padding-left: 4px;
    @media (min-width: 576px) {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
    @media (min-width: 768px) {
      flex: 0 0 25%;
      max-width: 25%;
    }
    @media (min-width: 992px) {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .productCardItem {
      background-color: #fff;
      border: 0.5px solid #bfbfbf;
      box-shadow: 0 0 0 #000;
      transition: all 0.3s;
      &:hover {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }
      .top {
        position: relative;
        padding: 12px 40px 8px 12px;
        box-shadow: @border-bottom-light;
        .bold {
          font-weight: 500;
        }
        .brandName {
          height: 56px;
        }
        .img {
          position: absolute;
          top: 8px;
          right: 12px;
          width: 24px;
          height: 24px;
          object-fit: cover;
        }
      }
      .middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 28px;
        padding: 0 12px;
        .middleKey {
          width: calc(100% - 24px);
          text-align: left;
        }
        .middleValue {
          width: 24px;
          text-align: center;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 12px;
        box-shadow: @border-top-light;
        .profile_icon {
          display: flex;
          align-items: center;

          .avatar:not(:last-child) {
            margin-right: 2px;
          }
        }
        .team {
          padding-right: 8px;
        }
      }
    }
  }
}
