.functionTypeDropdown {
  border: 0;
  input {
    color: @primary-color-dark !important;
  }
  :global(.ant-collapse-item-active) {
    :global(.ant-collapse-header) {
      box-shadow: none;
    }
    :global(.ant-collapse-content-box) {
      box-shadow: @border-bottom;
    }
  }
  :global(.ant-collapse-header) {
    height: 32px;
    // padding-right: ;
    :global(.ant-collapse-arrow) {
      right: 0 !important;
    }
  }
  :global(.function-type-placeholder) {
    width: 100%;
    padding-left: 16px;
    color: @mono-color-medium;
    // font-weight: 300 !important;
    cursor: pointer;
  }
  :global(span.ant-radio + *),
  :global(.ant-collapse-content-box) {
    padding: 0;
  }

  // :global(.ant-space-item):hover {
  //   background-color: @mono-color-light;
  // }
}
