@import (reference) '~antd/es/style/themes/index';

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.checkbox {
  :global(.item-wrapper-custom) {
    height: 32px;
  }
  :global(.item-wrapper-checkbox) {
    height: 32px;
  }
  :global(.ant-checkbox-wrapper) {
    height: 32px;
  }
}
