@import (reference) '~antd/es/style/themes/index';

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.mb {
  margin-bottom: 8px;
}

.resize-none {
  :global(.ql-editor) {
    resize: none;
  }
}

.label-editor {
  label {
    .mb();
  }
}

.editor-form(@text-padding, @resize : vertical) {
  :global(.ql-editor) {
    padding-right: @text-padding;
    padding-left: @text-padding;
    resize: @resize;
  }
  :global(.ql-editor.ql-blank::before) {
    right: @text-padding;
    left: @text-padding;
  }
}

.input-editor {
  @text-padding: 16px;

  @resize-none: none;
  :global(.ql-editor) {
    height: 300px;
  }

  .editor-form(@text-padding, @resize-none);
}

.input-editor-0 {
  @text-padding: 0;
  @resize-none: none;
  .editor-form(@text-padding, @resize-none);
}

.customDisplayTabs {
  @numbertab: 4;
  @height: 40px;
  :global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list) {
    display: grid;
    grid-template-columns: repeat(@numbertab, 100% / @numbertab);
    width: 100%;
  }
  :global(.ant-tabs-tab-btn) {
    height: @height;
  }
}

.customSizeTab {
  @height: 40px;
  @width: 125px;
  :global(.ant-tabs-tab-btn) {
    width: @width;
    height: @height;
  }
}
