@import (reference) '~antd/es/style/themes/index';

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.mb {
  margin-bottom: 8px;
}

.rile-0 {
  :global(.ql-editor.ql-blank::before) {
    right: 0;
    left: 0;
  }
}

.px-0 {
  :global(.ql-editor) {
    padding-right: 0;
    padding-left: 0;
  }
}

.resize-none {
  :global(.ql-editor) {
    resize: none;
  }
}
