.iconInfor {
  margin-left: 8px;
  cursor: pointer;
}
.customTitle {
  gap: 0;
  justify-content: flex-start;
}
.customHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 0;
  background-color: #fff;
}
.asignTeamMember {
  display: flex;
  align-items: center;
  justify-content: center;

  > img,
  div {
    margin-right: 2px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}
