.iconInfor {
  margin-left: 8px;
  cursor: pointer;
}
.customTitle {
  gap: 0;
  justify-content: flex-start;
}
.customHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
