.preset {
  .field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
      display: flex;
      align-items: center;
    }
    &__add_icon {
      cursor: pointer;
    }
    &__delete_icon {
      cursor: pointer;
    }
  }
  .formName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: @primary-color-dark;
  }
  .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    margin-left: 16px;
    .element {
      display: flex;
      align-items: center;
      margin-right: 8px;
      &__input_value,
      &__input_unit {
        :global(.ant-input) {
          padding: 0;
          color: @primary-color-dark;
          // text-transform: uppercase;
        }
      }
      &__input_value {
        width: 80px;
        margin: 0 8px;
      }
    }
  }
}
