.preset {
  margin-top: 16px;
  border-bottom: 0.5px solid rgb(191, 191, 191);
  .field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
      display: flex;
      align-items: center;
    }
    &__add_icon {
      cursor: pointer;
    }
    &__delete_icon {
      cursor: pointer;
      &:hover {
        path {
          fill: @primary-color-dark;
        }
      }
    }
  }
  .formName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .input {
      :global(.ant-input) {
        color: @primary-color-dark;
      }
    }
  }
  .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 0 16px;
    .element {
      display: flex;
      align-items: center;
      margin-right: 8px;
      &__input_value,
      &__input_unit {
        :global(.ant-input) {
          padding: 0;
          color: @primary-color-dark;
        }
      }
      &__input_value {
        width: 80px;
        margin: 0 8px;
      }
    }
  }
}
