.formGroup {
  margin-bottom: 16px;
}
.phoneInputCustom {
  :global(.phone-input-custom-text) {
    color: @primary-color-dark;
  }
}

.addressForm {
  margin-bottom: 40px;
  .address {
    :global(.ant-input) {
      padding: 0 16px;
    }
  }
}
