.collapsiblePanel {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.collapsiblePanelHeader {
  position: relative;
  display: flex;
  align-items: center;
}

.collapsiblePanelContentHeading,
.collapsiblePanelMenuHeading,
.collapsiblePanelTitle {
  font-weight: 300;
  font-size: 12px;
  font-family: Roboto;
  line-height: calc(20 / 12);
  letter-spacing: 0.24px;
}

.collapsiblePanelTitle {
  margin-bottom: 0;
}

.collapsiblePanelTitle,
.collapsiblePanelMenuHeadingLabel {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collapsiblePanelContentHeading {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
}

.collapsiblePanelContentHeading::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 -0.5px 0 0 rgba(0, 0, 0, 0.3);
  content: '';
}

.collapsiblePanelIcon {
  margin-top: 4px;
  margin-right: 12px;
  margin-left: 8px;
}

.collapsiblePanelContent {
  width: 160px;
}

.collapsiblePanelView,
.collapsibleFilterLabel {
  font-size: 12px;
  font-family: Roboto;
  line-height: calc(20 / 12);
  letter-spacing: 0.24px;
}

.collapsiblePanel::before {
  position: absolute;
  top: 6px;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 1px;
  height: 25px;
  box-shadow: 0.5px 0 0 0 rgba(0, 0, 0, 0.3);
  content: '';
}

.collapsiblePanelMenu {
  position: absolute;
  top: 38px;
  right: 50px;
  width: 136px;
}

.collapsiblePanelMenuHeadingContainer {
  max-height: 288px;
  overflow: hidden;

  &:hover {
    overflow-y: auto;
  }
}

.collapsiblePanelView {
  color: #bfbfbf;
  font-weight: 300;
}

.collapsibleFilterLabel {
  max-width: 86px;
  color: #000;
  font-weight: 500;
}
