.editor-form(@text-padding-x, @text-padding-y, @resize : vertical) {
  :global(.ql-editor) {
    padding: @text-padding-y @text-padding-x;
    resize: @resize;
  }
  :global(.ql-editor.ql-blank::before) {
    right: @text-padding-x;
    left: @text-padding-x;
  }
}

.container {
  :global(.ant-input) {
    color: @primary-color-dark;
  }
  :global(.ql-container.ql-snow) {
    border-bottom-color: transparent;
    box-shadow: none;
  }

  .radio_form,
  .label_editor {
    label {
      margin-bottom: 8px;
    }
  }

  .title {
    margin-bottom: 16px;

    .title_field {
      display: flex;
      align-items: center;

      .title_input {
        padding-right: 20px;
      }
      .remove_icon {
        position: absolute;
        right: 0;
        cursor: pointer;
        path {
          transition: fill 1s;
        }
        &:hover {
          path {
            fill: @primary-color-dark;
          }
        }
      }
    }
  }

  .input_editor {
    @text-padding-x: 16px;
    @text-padding-y: 4px;
    @resize-none: none;
    .editor-form(@text-padding-x, @text-padding-y, @resize-none);
    :global(.ql-editor) {
      height: 100%;
    }
  }
}
