.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(var(--vh) * 100);
  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    margin: auto;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 64px;
      .login-button {
        border-radius: 16px;
      }
    }

    .content {
      padding: 60px 0 32px 0;

      @media screen and(max-width: 576px) {
        flex-direction: column-reverse;
        padding: 0 0 32px 0;
      }

      .summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0 64px 0;

        @media screen and(max-width: 576px) {
          flex-direction: column-reverse;
          padding: 48px;
        }
        .message {
          .title {
            padding-bottom: 32px;
            color: @primary-color;
            font-size: 40px;
          }
          .description {
            color: @primary-color;
          }
        }

        .noneImage {
          @media screen and(max-width: 992px) {
            display: none;
          }
        }
      }
      .user-group {
        display: flex;
        gap: 60px;
        justify-content: space-between;

        @media screen and(max-width: 992px) {
          flex-direction: column;
        }

        .brands,
        .designer {
          display: flex;
          flex-flow: column wrap;
          justify-content: space-between;
          width: 100%;
          height: auto;
          padding: 32px;
          border: 0.75px solid @mono-color;
          .group-name {
            padding: 24px 0;
          }
          .feature {
            padding: 24px 0;
            .item {
              display: flex;
              align-items: center;
              height: auto;
              min-height: 32px;
              .icon {
                margin-right: 16px;
              }
            }
          }
          .button-wrapper {
            display: flex;
            justify-content: flex-end;
            .action-button {
              border-radius: 20px;
              box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
  }
}

.footer-container {
  background-color: @mono-color;
  .footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    margin: auto;
    p {
      color: white;
    }
    .menu-wrapper {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      margin-left: 16px;
      .menu {
        display: flex;
        align-items: center;
        .item {
          padding: 5px 16px;
          color: @mono-color-medium;
          cursor: pointer;
        }
      }
      .tisc-login {
        cursor: pointer;
      }
    }
  }
}

:global(.grecaptcha-badge) {
  display: none;
}
