.howto_container {
  :global(.ant-tabs-nav-list) {
    background: #fff;
  }

  :global(.ant-tabs-top > .ant-tabs-nav) {
    margin-bottom: 0;
  }

  :global(.tab-list .ant-tabs-top > .ant-tabs-nav::before) {
    border-bottom: none;
  }
}
