.howto_container {
  @numberTab: 3;

  :global(.ant-tabs-nav-list) {
    background: #fff;
  }

  :global(.ant-tabs-top > .ant-tabs-nav) {
    margin-bottom: 0;
  }

  :global(.tab-list .ant-tabs-top > .ant-tabs-nav::before) {
    border-bottom: none;
  }

  :global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list) {
    display: grid;
    grid-template-columns: repeat(@numberTab, 40% / @numberTab);
    width: 100%;
  }
}
