.paddingLeftName {
  :global(.ant-modal-body .ant-space-item) {
    padding-left: 0;
  }
}

.modal {
  :global(.ant-input) {
    color: @primary-color-dark;
    font-size: 12px;
  }

  :global(.ant-space-item) {
    padding-left: 0;

    :global(.item-option-uncheck),
    :global(.item-option-checked) {
      flex: 1;
    }
  }

  :global(.title) {
    display: flex;
    align-items: center;
    height: 36px;
  }

  :global(.item-wrapper-custom) {
    height: 32px;
    padding-left: 0;

    :global(.item-option-uncheck),
    :global(.item-option-checked) {
      flex: 1;
      margin-right: 0 !important;
    }
  }

  .paddingLeftNone {
    padding-left: 0;
  }

  .boxShadowBottom {
    // box-shadow: @border-bottom-light;

    :global(.ant-input) {
      color: @primary-color-dark;
    }
    :global(.side-container) {
      display: flex;
      width: 50%;

      &:first-child {
        margin-top: -18px;
        border-right: 1px solid #000;
        box-shadow: none;
      }

      :global(.side-container-wrapper) {
        width: 100%;
        margin-top: 18px;
      }

      :global(.sub-side-container) {
        width: 50%;

        &:first-child {
          margin: 0 16px;
        }
      }
    }
  }

  .inactiveMenu {
    :global(.ant-dropdown-trigger) {
      cursor: no-drop;
      pointer-events: none;
      > path {
        fill: @mono-color-medium;
      }
    }
  }

  .labelContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    > svg {
      margin: 0 24px;

      path {
        fill: @mono-color;
      }
    }

    .actionBtn {
      display: flex;
      flex: 1;
      align-items: center;
      height: 100%;

      .btnSize:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

.marginSpace {
  margin: 8px 24px 0 24px;
}
.actionMenuOverLay {
  width: 160px;

  :global(.tisc-dropdown-item) {
    div {
      min-height: 36px;
    }
  }
}

.dropdown {
  display: flex;

  &__text {
    width: max-content;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Cormorant-Garamond';
    line-height: calc(21 / 14);
  }
}

.main-title {
  margin-bottom: 28px;
}

.collection-input-container {
  margin-right: 16px;
}
