.detail {
  &_business {
    display: flex;
    align-items: center;
    .name {
      margin-right: 8px;
      font-weight: 500;
    }
  }

  &_phoneEmail {
    display: flex;
    align-items: center;
    .phone {
      margin-right: 12px;
    }
  }
}
