.detail {
  &_business {
    display: flex;
    align-items: center;
    .name {
      margin-right: 8px;
      font-weight: 500;
    }
  }

  &_address {
    padding-top: 5px;
  }

  &_phoneEmail {
    display: flex;
    align-items: center;
    .email {
      margin-right: 12px;
    }
    &_label {
      display: inline;
      margin-right: 5px;
    }
  }
}
