.productHeader {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 12px 16px;
  background-color: #fff;
  box-shadow: @border-bottom;
  .leftAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    :global(.select-category-btn) {
      color: @mono-color-medium;
      transition: none;
      &:hover {
        color: @mono-color-medium;
        font-weight: 300;
      }
      &:focus-visible {
        outline: none;
      }
    }
  }
  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    :global(.save-btn) {
      margin-right: 16px;
    }
  }
}
