.topbarContainer {
  position: sticky;
  top: 48px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 24px;
  overflow: auto;
  background-color: #fff;
  &::-webkit-scrollbar {
    display: none;
  }

  :global(.left-side),
  :global(.right-side) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  :global(.left-side) {
    :first-child {
      padding-left: 0;
      white-space: nowrap;
    }
  }
  :global(.right-side) {
    :last-child {
      padding-right: 0;
    }
  }
  :global(.cursor-pointer) {
    .ant-dropdown-trigger {
      cursor: pointer;
    }
  }
  :global(.cursor-default) {
    .ant-dropdown-trigger {
      cursor: default;
    }
  }

  :global(.mr-12) {
    margin-right: 12px !important;
  }
  :global(.mr-0) {
    margin-right: 0 !important;
  }
  :global(.pl-0) {
    padding-left: 0 !important;
  }

  :global(.item) {
    @space: 12px;

    margin-right: @space;
    padding-right: @space;
    padding-left: @space;
    transition: width 0.3s;
    user-select: none;

    &:global(.right-divider) {
      box-shadow: @border-right-light;
    }
    &:global(.left-divider) {
      box-shadow: @border-left-light;
    }
    :global(.disabled) {
      color: @mono-color-medium;
      svg {
        rect {
          fill: @mono-color-medium;
          stroke: @mono-color-medium;
        }
        path {
          fill: #fff;
        }
      }
    }
    &:global(.bold > p:first-child) {
      font-weight: 500;
    }
    &:global(.brand-dropdown) {
      margin-right: 0;
      padding-right: 24px;
      padding-left: 0;
      &:first-child {
        font-weight: 500;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  :global(.topbar-group-btn) {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:global(.disabled) {
      cursor: default;
    }
    svg {
      margin-left: 8px;
    }
    :global(.ant-dropdown-trigger) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      white-space: nowrap;
    }
  }
}

.topbarDropdown {
  width: 240px;
  :global(.tisc-dropdown-item) {
    & > div {
      &:not(:first-child) {
        box-shadow: none;
      }
      &:hover {
        background-color: @primary-color-light;
      }

      > p {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
.viewAllTop {
  :global(li.ant-dropdown-menu-item):first-child {
    box-shadow: @border-bottom-light;
  }
}

.flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterItem {
  display: flex;
  align-items: center;
  // justify-content: center;
  color: #000;
  white-space: nowrap;
  text-transform: capitalize;
  svg {
    margin-left: 8px;
    color: @mono-color-medium;
    cursor: pointer;
    &:hover {
      color: @primary-color-dark;
    }
  }
}

:global(.ant-dropdown-menu-vertical) {
  border-radius: 0;
}

:global(.ant-dropdown) {
  :global(li.ant-dropdown-menu-item) {
    padding: 8px 36.5px 8px 12px;
    user-select: none;

    &:hover {
      // background: @primary-color-light;
      background: transparent;

      p,
      span {
        font-weight: 500;
      }
    }

    span {
      max-width: 211.5px;
      overflow: hidden;
      font-weight: 300;
      font-size: 12px;
      font-family: @font-primary;
      font-style: normal;
      line-height: 20px;
      letter-spacing: 0.02em;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.alignRight svg {
      position: absolute;
      right: 0;
      width: 15px;
      margin-right: 13.5px;
      // transition: transform 0.1s;
    }
    &.textCapitalize {
      text-transform: uppercase;
    }
    &.text {
      text-transform: capitalize;
    }
    &.active svg {
      transform: rotate(180deg);
    }
    &.active span {
      font-weight: 500;
    }

    &.noSub span {
      max-width: 231.5px;
    }
    &.noSub {
      padding-right: 16.5px;
    }

    :global(.ant-dropdown-menu-item-icon) {
      margin-right: 12px;
    }
  }

  :global(.ant-dropdown-menu) {
    background-clip: border-box;
  }
}

.topbarBottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 24px;
  overflow: auto;
  background-color: #fff;
  box-shadow: @border-top-light;
  &::-webkit-scrollbar {
    display: none;
  }
}

.filterDropdown {
  :global(.ant-menu-vertical > .ant-menu-item) {
    display: flex;
    align-items: center;
    height: 36px;
    margin: 0;
    padding: 0 12px;
  }
  :global(img + .ant-menu-title-content) {
    margin-left: 12px !important;
  }
  :global(.ant-menu-title-content) {
    color: #000;
    font-size: 12px;
    font-family: @font-primary;
  }
  :global(.ant-menu-item-disabled) {
    background: none;
    :global(.ant-menu-title-content) {
      color: rgba(0, 0, 0, 0.25);
    }
  }
  &.borderFirstItem :global(.ant-drawer-body > ul li:first-child) {
    box-shadow: @border-bottom-light;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 48px;
  padding-right: 16px;
  background: #fff;
  box-shadow: @border-top;
}

.showCloseFooter {
  :global(.ant-drawer-body > div[class*='overlayContainer']) {
    padding-bottom: 48px;
  }
}

.checkboxListItem {
  background-color: white !important;
  box-shadow: none !important;
  span {
    font-size: 14px !important;
  }
}
.checkboxMenuItem {
  margin: 0 0 14px 16px;

  &:hover {
    span {
      font-weight: 500 !important;
    }
  }
}

.sub-label-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 14px 32px;
}

.sub-label-name {
  width: 192px;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Roboto';
  line-height: calc(22 / 14);
}
