.option_form_container {
  position: sticky;
  top: 0;
  z-index: 2;
  min-height: 32px;
  padding-top: 16px;
  padding-bottom: 1px;
  background: #fff;
  box-shadow: 0 0.7px 0 #000;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;

    &__title {
      text-transform: uppercase;
    }

    &__icon {
      margin-left: 16px;
      cursor: pointer;

      path {
        fill: @mono-color;
      }
    }

    :global(.card-icon),
    :global(.list-icon) {
      path {
        // fill: @primary-color-dark;
        stroke: #000;
        stroke-width: 1px;
      }
    }
  }

  .input {
    :global(.ant-input) {
      color: @primary-color-dark;
      text-transform: uppercase;
    }
  }
}
