.defaultOptionList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  :global(.product-id-label) {
    margin-left: auto;
  }
  :global(.group-option-name) {
    width: 60px;
    margin-right: 24px;
    text-align: right;
    :global(.value) {
      margin-right: 8px;
    }
  }
  :global(.product-id-label) + div {
    width: auto !important;
    :global(.product-id-input) {
      width: 100px;
      padding: 0 24px 0 12px;
      color: @primary-color-dark;
    }
  }
}
