.allocationTab {
  :global(.collapse-header > .ant-collapse-header) {
    justify-content: start;
    height: 36px;
    margin: 8px 0;
    padding: 0 !important;
  }
  :global(.ant-collapse-item:last-child > .ant-collapse-content) {
    box-shadow: 0 0.7px @mono-color;
  }
}
