.inputColor {
  :global(.ant-input) {
    color: @primary-color-dark;
    font-size: 12px;
  }
  :global(.ant-input[disabled]) {
    overflow: hidden;
    color: @primary-color-dark;
    text-overflow: ellipsis;
    background: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}
.schedule {
  height: 32px;
  padding-left: 16px;
  box-shadow: @border-bottom-light;
}
