.productCardContainer {
  display: flex;
  flex-flow: row wrap;
  margin-right: -4px;
  margin-left: -4px;
  .productCardItemWrapper {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 8px;
    padding-right: 4px;
    padding-left: 4px;
    @media (min-width: 576px) {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
    @media (min-width: 768px) {
      flex: 0 0 25%;
      max-width: 25%;
    }
    @media (min-width: 992px) {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .productCardItem {
      background-color: #fff;
      .imageWrapper {
        position: relative;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .imagePlaceholder {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          padding: 24px;
          text-align: center;
          background-color: #000;
          opacity: 0;
          transition: ease-in-out all 0.5s;
          p {
            color: #fff;
          }
        }
        &:hover {
          .imagePlaceholder {
            opacity: 1;
          }
        }
      }
      .productInfo {
        padding: 0 12px;
        box-shadow: inset 0 0.5px 0 rgba(0, 0, 0, 0.3);
        p {
          display: flex;
          align-items: center;
          height: 32px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          &:global(.product-description) {
            color: @mono-color-medium;
          }
        }
      }
      .productAction {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 32px;
        padding: 0 12px;
        box-shadow: inset 0 0.5px 0 rgba(0, 0, 0, 0.3);
        p {
          display: flex;
          align-items: center;
          svg {
            cursor: pointer;
          }
          &:global(.action-like) {
            svg {
              margin-right: 4px;
            }
          }
          &:global(.action-other) {
            svg {
              &:first-child {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}
