.tipFooter {
  padding: 8px 16px;

  table {
    width: 100%;
    table-layout: fixed;

    td {
      height: 32px;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      p {
        padding-right: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .title {
      width: 20%;
      text-transform: capitalize;
    }
  }
}
