.filterItem {
  display: flex;
  align-items: center;
  // justify-content: center;
  color: #000;
  text-transform: capitalize;
  svg {
    margin-left: 8px;
    color: @mono-color-medium;
    cursor: pointer;
    &:hover {
      color: @primary-color-dark;
    }
  }
}
