@import '~antd/es/style/variable.less';

:root {
  --vh: calc(var(--vhi, 1vh));
  --spacing: 16px;
  --image-fit: cover;

  @media (max-width: @screen-lg) {
    --spacing: 12px;
  }
}

html,
body,
#root {
  width: 100% !important;
  height: 100%;
  font-weight: 300;
  font-family: Roboto, Cormorant-Garamond, sans-serif;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  background: @mono-color-light;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

.ant-message-custom-content {
  span:last-child {
    display: inline-block;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.ant-pro-global-header-layout-mix {
  background-color: @mono-color;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.icon-mono-dark path {
  fill: @mono-color-dark;
}

.icon-mono-medium path {
  fill: @mono-color-medium;
}

.ant-tooltip-content {
  background-color: #000;
  .ant-tooltip-arrow {
    height: 18px;
    .ant-tooltip-arrow-content {
      background-color: #000;
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.22);
  border: 2px solid white;
  border-radius: 5px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.35);
  }
}

.basis-conversion-group {
  display: flex;
  gap: 12px;
  align-items: center;
  text-transform: capitalize;
  row-gap: 12px;
}

@media (max-width: @screen-lg) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
  main.ant-pro-basicLayout-content {
    margin: 12px;
    .ant-pro-page-container-children-content {
      margin: 12px 12px 0;
    }
    .ant-pro-page-container {
      margin: -12px -12px 0;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999999s ease-out, background-color 9999999s ease-out';
  -webkit-transition-delay: 9999999s;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.text-hover-bold {
  &::after {
    display: block;
    height: 0;
    overflow: hidden;
    font-weight: 400;
    visibility: hidden;
    content: attr(data-text);
  }

  &:hover {
    font-weight: 400;
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: calc(var(--vh) * 100);
  }
}

button {
  border: none;
}
.ant-tooltip-inner {
  padding: 6px 12px;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.02em;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5) !important;

  .anticon {
    margin-right: 12px;
  }
}
.ant-collapse-header-text {
  display: flex;
  align-items: center;
  width: 100%;
}

.primary-color {
  color: @primary-color !important;
}
.primary-color-dark {
  color: @primary-color-dark !important;
}
.primary-color-medium {
  color: @primary-color-medium;
}
.primary-color-light {
  color: @primary-color-light;
}

.white {
  color: #fff;
}
.pure-black {
  color: #000 !important;
}

.indigo-dark-variant {
  color: #2b39d4 !important;
}

.red-magenta {
  color: #eb008d !important;
}

.orange {
  color: #e65000;
}

.grey {
  color: #808080;
}

.mono-color {
  color: @mono-color;
}
.mono-color-dark {
  color: @mono-color-dark;
}
.mono-color-medium {
  color: @mono-color-medium;
}
.mono-color-light {
  color: @mono-color-light;
}

.secondary-color {
  color: @secondary-color;
}
.secondary-color-medium {
  color: @secondary-color-medium;
}
.secondary-color-light {
  color: @secondary-color-light;
}

.tertiary-color {
  color: @tertiary-color;
}
.tertiary-color-medium {
  color: @tertiary-color-medium;
}
.tertiary-color-light {
  color: @tertiary-color-light;
}

.border-top-light {
  box-shadow: @border-top-light;
}

.border-bottom-light {
  box-shadow: @border-bottom-light;
}

.border-bottom-black {
  border-bottom: 1px solid #000;
}

.bottom-border-inset-black {
  border-bottom: 0.7px inset #000;
}

.bg-white {
  background: #fff;
}

.w-full {
  width: 100%;
}

.w-1-2 {
  width: 50%;
}

.w-max {
  width: max-content;
}

.h-full {
  height: 100%;
}

.h-40 {
  height: 40px;
}

.size-16 {
  width: 16px;
  height: 16px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-16 {
  margin-right: 16px;
  margin-left: 16px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-16 {
  margin-right: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mt-4 {
  margin-top: 4px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-24 {
  margin-bottom: 24px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8-px {
  margin-bottom: 8px;
}

.p-0 {
  padding: 0;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.p-16 {
  padding: 16px;
}

.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-14 {
  font-size: 14px;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.block {
  display: block;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.flex-grow {
  flex-grow: 1;
}

.align-item-flex-start {
  align-items: flex-start;
}

.row-reverse {
  flex-direction: row-reverse;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.flex-end {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
}

.flex-start {
  display: flex !important;
  align-items: center;
}

.flex-between {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.xTransition {
  transition: all 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-disabled {
  cursor: not-allowed;
}

.ant-checkbox-group,
.ant-radio-group,
.ant-collapse-header,
li.ant-menu-submenu {
  user-select: none;
}

.ant-radio-inner {
  width: 18px;
  height: 18px;
  border-color: @mono-color;
}

.ant-radio-checked .ant-radio-input:focus + .ant-radio-inner,
.ant-radio-checked .ant-radio:hover .ant-radio-inner,
.ant-radio-checked .ant-radio-inner {
  border-color: @primary-color-dark;
}

.ant-radio-checked::after {
  animation: none;
}

.ant-radio:hover::after,
.ant-radio-wrapper:hover .ant-radio::after {
  visibility: hidden;
}

.ant-radio-checked .ant-radio-inner::after {
  transform: scale(0.7);
}

.ant-radio.ant-radio-disabled .ant-radio-inner {
  border-color: @mono-color-medium !important;
  cursor: default;
}

.ant-radio-inner::after {
  background-color: @primary-color-dark;
}

.ant-radio-input:focus + .ant-radio-inner {
  box-shadow: unset;
}

.ant-dropdown-trigger {
  cursor: pointer;
}

.ant-input:focus,
.ant-input-focused {
  border-color: transparent;
}

.ant-table tr > td,
.ant-table tr > th {
  white-space: nowrap;
}

.ant-table .ant-table-tbody > tr > td {
  transition: width 0.2s;
}

.ant-checkbox.ant-checkbox-checked.ant-checkbox-disabled .ant-checkbox-inner {
  background: #2b39d4;
  &::after {
    border-color: #f5f5f5 !important;
  }
}

.unTick {
  .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner {
    background-color: transparent;
    border-color: #000;
  }

  .ant-checkbox-checked .ant-checkbox-inner::after {
    opacity: 0;
  }
}

.ant-checkbox.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #2b39d4;
  border-color: #2b39d4;
}
.ant-checkbox .ant-checkbox-inner {
  border-color: #000;
  border-radius: 0;
}

.ant-collapse {
  background: transparent;
}

.border-top {
  box-shadow: @border-top-light;
}

.white-space {
  white-space: nowrap;
}

.hover-on-row:hover {
  // text-shadow: 0 0 0 @mono-color;
  font-weight: 400;

  span,
  p {
    font-weight: 400;
  }

  svg path {
    stroke: @mono-color;
    stroke-width: 0.2px;
  }
}

.customHeaderTitle {
  gap: 0;
  justify-content: flex-start;

  > p {
    padding-top: 3px;
    padding-right: 8px;
  }

  svg {
    cursor: pointer;
  }
}

.infoModalContent {
  .customText {
    font-weight: 600;
    font-size: 14px;
    font-family: @font-secondary;
    line-height: 21px;
    letter-spacing: 0.02em;
  }

  .text {
    margin-bottom: 8px;
    padding: 8px 16px;
    box-shadow: inset 0 -0.7px 0 @mono-color-medium;

    .title {
      margin-bottom: 4px;
    }

    .textContent {
      margin-top: 24px;
    }
  }
}

.hover-on-row td > span::after {
  display: block;
  height: 1px;
  margin-bottom: -1px;
  overflow: hidden;
  color: transparent;
  font-weight: 600;
  visibility: hidden;
  content: attr(data-text);
}

.onRowActive {
  :global(.ant-table-row:hover) {
    font-weight: 400;

    span,
    p {
      font-weight: 400;
    }

    svg path {
      stroke: @mono-color;
      stroke-width: 0.2px;
    }
  }

  :global(.ant-table-row) {
    td > span::after {
      display: block;
      height: 1px;
      margin-bottom: -1px;
      overflow: hidden;
      color: transparent;
      font-weight: 600;
      visibility: hidden;
      content: attr(data-text);
    }
  }
}

.dropdownList {
  background-color: #fff;
  .ant-collapse-item {
    border-bottom: 0 !important;
    box-shadow: @border-bottom-light;
    &.ant-collapse-item-disabled {
      .ant-collapse-header {
        color: #000;
        .ant-collapse-arrow {
          color: @mono-color-medium;
        }
      }
    }
    &.ant-collapse-item-active {
      box-shadow: @border-bottom;
      .ant-collapse-header[aria-expanded='true'] {
        font-weight: 500;
      }
    }
    .ant-collapse-header {
      padding: 9px 24px 9px 0;
      font-weight: 300;
      font-size: 14px;
      font-family: @font-primary;
      font-style: normal;
      line-height: 22px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      .ant-collapse-arrow {
        right: 0;
      }
    }
    .ant-collapse-content-box {
      padding: 0 0 8px 16px !important;
    }
  }

  .drop-up-icon,
  .drop-down-icon {
    margin-left: 12px;
  }
}

.dropdownListV2 {
  .ant-collapse-item {
    .ant-collapse-content-box {
      padding: 0 0 8px 32px !important;
    }
  }
}

.dropdownListLevelTwo {
  .ant-collapse-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .ant-collapse-item {
    border-bottom: 0 !important;
    box-shadow: none;

    .ant-collapse-content-box {
      padding: 0 0 0 32px !important;
    }

    .ant-collapse-header {
      padding: 7px 24px 7px 0;
      font-weight: 300;
      font-size: 14px;
      font-family: @font-primary;
      font-style: normal;
      line-height: 22px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      .ant-collapse-arrow {
        right: 0;
      }
    }

    &.ant-collapse-item-active {
      box-shadow: none;

      .ant-collapse-header[aria-expanded='true'] {
        font-weight: 500;
      }
    }
  }
}

.ant-image-preview-wrap {
  background-color: rgba(0, 0, 0, 0.7);
}

.ant-image-preview-operations
  > .ant-image-preview-operations-operation
  ~ .ant-image-preview-operations-operation {
  display: none;
}
.ant-image-mask {
  display: none;
}

.main-label-name,
.sub-label-name {
  overflow: hidden;
  font-size: 14px;
  font-family: Roboto;
  line-height: calc(22 / 14);
  white-space: nowrap;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

.text-hover-normal {
  &:hover {
    font-weight: 400;
  }
}

.text-hover-medium {
  &:hover {
    font-weight: 500;
  }
}

.shadow-none {
  box-shadow: none !important;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.common-cormorant-garamond-text {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(21 / 14);
  letter-spacing: 0.28px;
}

.flex-1 {
  flex: 1 1 0%;
}

.opacity-50 {
  opacity: 0.5;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.border-bottom-black-inset {
  box-shadow: @border-bottom-black-inset;
}

.border-right-black-inset {
  box-shadow: @border-right-black-inset;
}

.border-top-black-inset {
  box-shadow: @border-top-black-inset;
}

.font-light {
  font-weight: 300 !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-end {
  align-items: flex-end;
}

.flex-col {
  flex-direction: column;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-auto {
  overflow: auto;
}
