@import '~antd/es/style/variable.less';

html,
body,
#root {
  height: 100%;
  font-weight: 300;
  font-family: Roboto, Cormorant-Garamond, sans-serif;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
  background: @mono-color-light;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

.ant-pro-global-header-layout-mix {
  background-color: @mono-color;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.icon-mono-dark path {
  fill: @mono-color-dark;
}

.icon-mono-medium path {
  fill: @mono-color-medium;
}

.ant-tooltip-content {
  background-color: #000;
  .ant-tooltip-arrow {
    height: 18px;
    .ant-tooltip-arrow-content {
      background-color: #000;
    }
  }
}

&::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
&::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgb(0 21 41 / 5%);
}
&::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgb(37 37 37 / 5%);
}

.basis-conversion-group {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  svg {
    margin: 0 12px;
    cursor: default;
  }
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999999s ease-out, background-color 9999999s ease-out';
  -webkit-transition-delay: 9999999s;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

button {
  border: none;
}
.ant-tooltip-inner {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5) !important;
  .anticon {
    margin-right: 12px;
  }
}
.ant-collapse-header-text {
  display: block;
  width: 100%;
}
