@import '~antd/es/style/variable.less';

.tab-list {
  width: 100%;

  &.lightTheme {
    :global(.ant-tabs-tab-btn) {
      padding: 0 !important;
      // background-color: #fff !important;
    }
    .item-tab svg {
      color: #000;
    }
    :global(.ant-tabs-tab-active) {
      :global(.ant-tabs-tab-btn) {
        background: @primary-color !important;
      }

      .item-tab svg {
        color: @primary-color-dark;

        @media screen and (max-width: @screen-lg) {
          color: #fff;
        }
      }
    }
  }
  &.outline {
    :global(.ant-tabs-tab-btn) {
      background-color: transparent !important;
    }
  }

  :global(.ant-tabs-tab) {
    display: block;
    width: 100%;
    padding: 0;
    color: @mono-color;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    user-select: none;

    &:hover {
      font-weight: 400;
    }

    @media screen and (max-width: @screen-sm) {
      text-transform: capitalize;
    }
  }

  :global(.ant-tabs-nav-operations) {
    display: none !important;
  }
  :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
    color: #fff;
    font-weight: 500;
    background: @primary-color;
  }
  :global(.ant-tabs-ink-bar) {
    background: none;
  }
  :global(.ant-tabs-top > .ant-tabs-nav::before) {
    z-index: 1;
    border-bottom: 1px solid @mono-color;
  }
  :global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap) {
    &::before,
    &::after {
      box-shadow: none;
    }

    @media screen and (max-width: @screen-lg) {
      display: flex;
    }
  }
  :global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list) {
    flex: 1;
    width: max-content;
    overflow: auto hidden;
  }
}

.tabs-top {
  :global(.ant-tabs-tab-btn) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  :global(.ant-tabs-tab + .ant-tabs-tab) {
    margin: 0;
  }
  :global(.ant-pro-card-body) {
    padding: 0;
  }
  :global(.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar-animated) {
    width: 0 !important;
    transition: none;
  }
}

.tabs-left {
  :global(.ant-tabs-tab-btn) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  :global(.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab, ) {
    margin: 0;
  }
  :global(.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab) {
    padding: 0;
  }
  :global(.ant-pro-card-body) {
    padding: 0;
  }
  :global(.ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar-animated) {
    transition: none;
  }
  :global(.ant-tabs-left > .ant-tabs-content-holder, ) {
    border-left: none;
  }
  .item-tab {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;
  }
}

.tabs-space {
  :global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list) {
    // display: grid;
    // grid-template-columns: repeat(@numbertab, 100% / @numbertab);
    width: 100%;
  }
}

.tabs-start {
  :global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap) {
    justify-content: flex-start;
  }
  :global(.ant-tabs-tab-btn) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tabs-end {
  :global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap) {
    justify-content: flex-end;
  }
  :global(.ant-tabs-tab-btn) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.item-tab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.custom-color {
  color: @mono-color-medium;
}
