.partnerTable {
  :global(.ant-table-content) {
    box-sizing: border-box;
    height: fit-content;
  }
}

.partnerHeader {
  box-shadow: @border-bottom-light;
}

.partnerHeaderTab {
  position: relative;
  background: #fff;

  :global(.ant-tabs-nav) {
    margin: 0;
  }

  :global(.ant-tabs-tab) {
    width: unset;
  }

  :global(.tab-items) {
    padding: 0 24px !important;
    font-size: 12px;
  }
}

.partnerHeaderTabDisabled {
  :global(.tab-items) {
    color: #000;
  }

  :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
    background: #808080;

    :global(.tab-items) {
      color: #fff;
    }
  }
}

.association {
  &.partnerAssociations {
    :global(.function-type-placeholder) {
      overflow: hidden;
      color: @primary-color-dark;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.formGroup {
  margin-bottom: 16px;
  .phoneInputCustom {
    :global(.phone-input-custom-text) {
      color: @primary-color-dark;
    }
  }
}
