.content {
  height: calc(var(--vh) * 100 - 152px);
  padding: 16px;
  background-color: #fff;
  .title {
    padding: 16px;
    box-shadow: @border-bottom;
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 4px;
      .icon {
        margin: 0 4px;
      }
      .textItem {
        margin-left: 4px;
        text-transform: uppercase;
      }
    }
  }
  .form {
    padding: 16px;
    .formText {
      margin: 8px 0;
      text-align: center;
      span {
        font-family: @font-secondary;
        text-transform: uppercase;
      }
    }
    .input {
      :global(.ant-input) {
        height: 36px;
      }
    }
    .phoneInput {
      height: 36px;
      margin-top: 8px;
    }
    .action {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 16px;
      .skipButton {
        margin-left: 8px;
      }
    }
  }
}
