.productSummary {
  .left-side {
    :first-child {
      padding-left: 0 !important;
    }
    .item {
      > p:first-child {
        font-weight: 400;
      }
    }
  }

  .right-side {
    :last-child {
      padding-right: 0 !important;
    }
  }

  .cursor-pointer {
    .ant-dropdown-trigger {
      cursor: pointer;
    }
  }

  .cursor-default {
    .ant-dropdown-trigger {
      cursor: default;
    }
  }
}
