.team_form {
  :global(.ant-collapse-borderless) {
    background: #fff !important;
  }

  .teamInfo {
    // :global(.mono-color) {
    //   color: @mono-color-dark !important;
    // }
    // :global(.heightInputGroup) {
    //   margin-bottom: 8px !important;
    // }

    :last-child {
      margin-bottom: 0;
    }
  }

  .userName {
    display: flex;
    align-items: center;

    .name {
      margin-left: 8px;
    }
  }
}
