.profile {
  :global(.mono-color) {
    color: @mono-color-dark;
  }
  .designName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      height: 56px;
      margin-bottom: 14px;
      margin-left: 12px;
    }
  }
  .official_websites {
    box-shadow: @border-bottom-light;

    .content {
      height: auto;
      min-height: 32px;

      .table {
        width: 100%;
        height: auto;
        min-height: 32px;
        white-space: nowrap;
        table-layout: fixed;

        tr {
          height: 32px;
        }

        td {
          height: 32px;
          padding: 0;

          p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .text {
          width: 30%;
          padding-right: 24px;
          text-transform: capitalize;
        }

        .url {
          width: 70%;
        }
      }
    }
  }
}
