@import (reference) '~antd/es/style/themes/index';

.customBrandName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    margin-left: 12px;
  }
}
.customAction {
  cursor: pointer;
}
