.modal {
  :global(.ant-modal-body) {
    position: relative;
    padding: 16px 19px 0 16px;
  }
}

.modalOnMobile {
  height: calc(var(--vh) * 80) !important;
  padding: 0 !important;
}

.checkBoxList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  :global(.ant-checkbox-group) {
    flex: 1;

    label {
      min-height: 40px;
    }
  }

  :global(.other-field-checkbox) {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    min-height: 40px;
    background: #fff;
    box-shadow: @border-top-light;

    :global(.ant-input) {
      color: @primary-color-dark;
    }

    @media screen and (max-width: 576px) {
      position: sticky;
      bottom: 35px;
      display: flex;
      align-items: center;
      background: #fff;
    }
  }
}
