.defaultOptionList {
  display: flex;
  align-items: center;
  height: 36px;
  table {
    width: 50%;
    :global(.option-name) {
      width: 30%;
      padding-right: 8px;
      text-align: right;
    }
  }
  :global(.product-id-label) {
    color: @mono-color-dark;
    font-weight: 300;
    font-size: 14px;
    font-family: @font-secondary;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.02em;
  }
  :global(.group-option-name) {
    margin-right: 24px;
    white-space: nowrap;
    text-align: right;
    :global(.value) {
      margin-right: 8px;
    }
  }
  :global(.product-id-label) + div {
    width: auto !important;
    :global(.product-id-input) {
      width: 100px;
      padding: 0 8px 0 12px;
      color: @primary-color-dark;
    }
  }
  :global(.product-id-value) {
    margin-left: 12px;
    color: @mono-color-dark;
    font-weight: 300;
    font-size: 12px;
    font-family: @font-primary;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.02em;
    white-space: nowrap;
  }
}
.optionInfo {
  display: flex;
}
.defaultOptionImageList {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 0;
  .boxShadowOptionImage {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    box-shadow: @border-bottom-light;
  }
  .widthCheckboxImage {
    width: calc(100% + 32px);
  }
  .widthOptionImage {
    width: calc(100% + 26px);
  }
  img {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    object-fit: cover;
  }
  :global(.option-image-list-wrapper) {
    width: 100%;
    :global(.heading-option-group) {
      height: 24px;
    }
    :global(.product-input-group) {
      // display: flex;
      width: 100%;
      height: 24px;
      :global(.product-id-input) {
        width: 100%;
        padding: 0 0 0 12px;
        color: @primary-color-dark;
      }
      :global(.product-id-label) {
        color: @mono-color-dark;
        font-weight: 300;
        font-size: 14px;
        font-family: @font-secondary;
        font-style: normal;
        line-height: 21px;
        letter-spacing: 0.02em;
        white-space: nowrap;
      }
      :global(.product-id-value) {
        margin-left: 12px;
        color: @mono-color-dark;
        font-weight: 300;
        font-size: 12px;
        font-family: @font-primary;
        font-style: normal;
        line-height: 20px;
        letter-spacing: 0.02em;
        white-space: nowrap;
      }
    }
  }
}
.customItemClass {
  :global(.item-wrapper-custom) {
    margin-bottom: 8px;
    :global(.product-id-label) {
      color: #000;
    }
  }
}

.specificationOptionCheckbox {
  :global(.checkbox-list-heading) {
    padding-left: 16px;
  }
  :global(.selected-all-option-radio) {
    padding-left: 16px;
    :global(.item-option-checked) {
      p {
        color: #000;
      }
    }
  }
}
.presetOptionTitle {
  padding-left: 16px;
}

.converstionText {
  margin-right: 24px;
  &:first-child {
    min-width: 25%;
  }
  &:last-child {
    margin-right: 0;
  }
}
.content {
  :global(.ant-modal-header) {
    box-shadow: none;
  }

  &_select {
    color: @mono-color !important;
  }
}

.specificationAttributeOption {
  :global(.ant-space-item) {
    margin-bottom: 4px;
    padding-left: 0;
  }
  :global(.radio-list-heading) {
    margin-bottom: 16px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 14px;
    font-family: @font-primary;
    line-height: 22px;
    box-shadow: @border-bottom-light;
  }
}

.customTextArea {
  :global(.ant-input) {
    margin-top: 2px;
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    background-color: transparent;
    border-bottom-color: #fff;
    resize: none;
    &:hover {
      border-bottom-color: #fff;
    }
  }
}

.generalText {
  :global(.ant-input) {
    margin-top: 0;
    padding: 4px 0;
    color: @mono-color;
  }
}
