.defaultOptionList {
  display: flex;
  align-items: center;
  height: 36px;
  :global(.product-id-label) {
    font-weight: 300;
    font-size: 14px;
    font-family: @font-secondary;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.02em;
  }
  :global(.group-option-name) {
    margin-right: 24px;
    white-space: nowrap;
    text-align: right;
    :global(.value) {
      margin-right: 8px;
    }
  }
  :global(.product-id-label) + div {
    width: auto !important;
    :global(.product-id-input) {
      width: 100px;
      padding: 0 8px 0 12px;
      color: @primary-color-dark;
    }
  }
  :global(.product-id-value) {
    margin-left: 12px;
  }
}
.optionInfo {
  display: flex;
}
.defaultOptionImageList {
  display: flex;
  align-items: center;
  padding: 4px 0;
  img {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    object-fit: cover;
  }
  :global(.option-image-list-wrapper) {
    width: 100%;
    :global(.heading-option-group) {
      height: 24px;
    }
    :global(.product-input-group) {
      // display: flex;
      width: 100%;
      height: 24px;
      :global(.product-id-input) {
        width: 100%;
        padding: 0 0 0 12px;
        color: @primary-color-dark;
      }
      :global(.product-id-label) {
        font-weight: 300;
        font-size: 14px;
        font-family: @font-secondary;
        font-style: normal;
        line-height: 21px;
        letter-spacing: 0.02em;
        white-space: nowrap;
      }
      :global(.product-id-value) {
        margin-left: 12px;
      }
    }
  }
}
.customItemClass {
  :global(.item-wrapper-custom) {
    margin-bottom: 8px;
    :global(.product-id-label) {
      color: #000;
    }
  }
}
.specificationOptionCheckbox {
  :global(.checkbox-list-heading) {
    padding-left: 16px;
  }
  :global(.selected-all-option-radio) {
    padding-left: 16px;
    :global(.item-option-checked) {
      p {
        color: #000;
      }
    }
  }
}
.presetOptionTitle {
  padding-left: 16px;
}

.converstionText {
  margin-right: 24px;
  &:first-child {
    min-width: 25%;
  }
  &:last-child {
    margin-right: 0;
  }
}
.content {
  :global(.ant-modal-header) {
    box-shadow: none;
  }

  &_select {
    color: @mono-color !important;
  }
}
