.download {
  padding: 0 16px 0 5px;

  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
  }

  &_icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
}

.emptyOne {
  margin: 0;
  padding: 32px;
}
