.attributeItemCheckBox {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  :global(.attribute-name) {
    margin-right: 12px;
  }
  :global(.attribute-description) {
    color: @mono-color-medium !important;
  }
}
