.content {
  display: flex;
  align-items: center;

  :global(.text) {
    padding: 0 8px 0 24px;
    cursor: default;
    user-select: none;
  }

  :global(.switchBtn) {
    position: relative;
    width: 34px;

    :global(.ant-switch-inner) {
      position: absolute;
      top: 0.6px;
      font-weight: 500;
      font-size: 8px;
    }
    :global(.ant-switch) {
      box-shadow: none;
    }
    :global(.ant-click-animating-node) {
      animation: none;
    }
  }
}
