.CheckboxGroup {
  :global(.ant-checkbox-group) {
    padding-left: 16px;
  }
}

.group {
  margin-bottom: 16px;

  :global(.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header) {
    height: 32px;
  }

  &.activeLabel {
    :global(.function-type-placeholder) {
      display: inline-flex;
      overflow: hidden;
      color: @primary-color-dark;
      text-overflow: ellipsis;
    }
  }
}
