.collapseSelectAll {
  @space: 48px;

  :global(.ant-collapse-header) {
    display: flex;
    align-items: center;
    min-height: @space;
    padding: 0 !important;
  }

  :global(.ant-collapse-header-text) {
    min-height: @space;
  }

  .selectAll {
    display: flex;
    align-items: center;
    height: @space;
    white-space: nowrap;
    cursor: default;

    :global(.select-all-radio) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-right: 0;
    }

    :global(.select-label) {
      padding-right: 8px;
      font-weight: 300;
      font-size: 16px;
      text-transform: initial;
    }

    :global(.ant-radio) {
      top: 0;
    }
    p :global(span.ant-radio + *) {
      padding-right: 16px;
    }
  }

  :global(.ant-collapse-item-active) {
    :global(.select-label) {
      font-weight: 600;
    }
  }
}
